<template>
  <div class="text-center" @click="getSliderFrame(slider)">
    <a class="text-black" @click.prevent="scrollToSliderSections()">
      <div class="relative assembly-image skeleton-image cursor-pointer">
        <img class="absolute left-0 top-0 w-full h-full object-cover z-1" :src="getSliderImage(slider.material_image)" @error="placeholder" :alt="slider.name">
      </div>
      <span class="inline-flex leading-21 font-medium text-16 mt-20 cursor-pointer">{{ slider.name }}</span>
    </a>
  </div>
</template>

<script>
import { getSliderUrl } from 'theme/helpers';

export default {
  name: 'AssemblyListingSlider',
  props: {
    slider: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      placeholder: '/assets/placeholder.jpg',
      headerOffset: 0
    }
  },
  methods: {
    getSliderImage (path) {
      return getSliderUrl(path);
    },
    getSliderFrame (slider) {
      this.$bus.$emit('visible-slider-frame', slider)
    },
    scrollToSliderSections () {
      this.headerOffset = document.querySelector('.category__megamenu').clientHeight;
      if (window.matchMedia('(max-width: 767px)').matches) {
        this.headerOffset = document.querySelector('.header').clientHeight;
      }
      const offsetTop = document.querySelector('.product-rr-wrap').offsetTop;
      const offset = offsetTop - this.headerOffset;
      scroll({
        top: offset,
        behavior: 'smooth'
      });
    }
  }
}
</script>

<style lang="scss">
.assembly-image {
  padding-bottom: 120%;
}
</style>
