<template>
  <div>
    <div v-if="instruction.type === 'PDF instruction'">
      <div class="instruction-image relative skeleton-image">
        <img class="absolute left-0 top-0 w-full h-full object-cover z-1" :src="getSliderImage(instruction.thumbnail)" :alt="instruction.instruction_name" @error="placeholder">
      </div>
      <span class="text-base font-medium leading-21 text-gray-200 my-10 block">{{ instruction.instruction_name }}</span>
      <a class="text-base leading-21 text-gray-200 font-medium underline" target="_blank" :href="getPdfUrl(instruction.pdf_file)">Download</a>
    </div>
    <div class="relative" v-if="instruction.type === 'Video instruction'">
      <div class="instruction-image relative skeleton-image cursor-pointer">
        <svg class="absolute w-30 md:w-40 h-30 md:h-40 left-0 right-0 top-0 bottom-0 m-auto z-2 pointer-events-none" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#222222" fill-opacity="0.7" />
          <path d="M28 20L16 12V28L28 20Z" fill="white" />
        </svg>
        <img class="absolute left-0 top-0 w-full h-full object-cover z-1" :src="getYoutubeThumbUrl(instruction.youtube_url)" :alt="instruction.instruction_name" @error="placeholder" @click.prevent="$bus.$emit('modal-toggle', frame)">
      </div>
      <span class="text-16 font-medium leading-21 mt-10 block">{{ instruction.instruction_name }}</span>
      <modal :name="frame" class="instruction-modal z-50 flex items-center">
        <instruction-modal :modal="frame" :instruction="instruction" />
      </modal>
    </div>
  </div>
</template>

<script>
import { getSliderUrl, getSliderPdfUrl, getVideoData } from 'theme/helpers';
import Modal from 'theme/components/core/Modal.vue'
import InstructionModal from './InstructionModal.vue'

export default {
  name: 'InstructionTile',
  props: {
    instruction: {
      type: Object,
      required: true
    },
    frame: {
      type: String,
      required: true
    }
  },
  components: {
    Modal,
    InstructionModal
  },
  data () {
    return {
      placeholder: '/assets/placeholder.jpg'
    }
  },
  methods: {
    getSliderImage (path) {
      return getSliderUrl(path);
    },
    getPdfUrl (path) {
      return getSliderPdfUrl(path);
    },
    getYoutubeThumbUrl (url) {
      const urlObject = getVideoData(url);
      return `//img.youtube.com/vi/${urlObject.id}/hqdefault.jpg`;
    }
  }
}
</script>

<style lang="scss">
.instruction-image {
  padding-bottom: 56%;
}
.instruction-modal {
  .modal-container {
    background-color: transparent;
    width: 725px;
    max-width: 95%;
    height: auto;
    iframe {
      @media (max-width: 767px) {
        height: 300px;
      }
    }
  }
}
</style>
