<template>
  <div class="rounded p-20 bg-white m-20">
    <span @click="close" slot="close" class="w-34 h-34 flex items-center justify-center bg-black rounded-full absolute right-3 top-3 cursor-pointer">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.3335 1.33325L14.6668 14.6666" stroke="#fff" />
        <path d="M14.6675 1.33325L1.33415 14.6666" stroke="#fff" />
      </svg>
    </span>
    <b class="block text-16 md:text-18 mb-20 font-medium">{{ instruction.instruction_name }}</b>
    <iframe class="w-full" width="725" height="420" :src="getEmbedUrl(instruction.youtube_url)" />
  </div>
</template>

<script>
import { getVideoData } from 'theme/helpers';

export default {
  name: 'InstructionModal',
  props: {
    instruction: {
      type: Object,
      required: true
    },
    modal: {
      type: String,
      required: true
    }
  },
  methods: {
    close () {
      // TODO Move to theme
      this.$bus.$emit('modal-hide', this.modal)
    },
    getEmbedUrl (url) {
      const urlObject = getVideoData(url);
      return `//www.youtube.com/embed/${urlObject.id}?autoplay=1`;
    }
  }
}
</script>
