<template>
  <div class="sidebar">
    <div class="category-footer md:hidden bg-white fixed bottom-70 left-0 w-full z-3 p-16">
      <div class="flex w-4/12 justify-center cursor-pointer text-center font-medium items-center text-16 border-r border-gray-50 pr-10 lg:pr-20 lg:mr-20 mr-10" @click="openbox(1)" :class="{ 'active' : boxactive}">
        <svg width="18" height="16" class="mr-10" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.8333 12.167H16.7333H17.3333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M0.666586 12.167H5.73325H7.33325" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          <circle r="2.5" transform="matrix(-1 0 0 1 12.3333 12.167)" stroke="#222222" />
          <path d="M3.16663 3.8335H1.26663H0.666626" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M17.3333 3.8335H12.2666H10.6666" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          <circle cx="5.66663" cy="3.8335" r="2.5" stroke="#222222" />
        </svg>
        {{ $t('Filter') }}
      </div>
      <div class="flex relative justify-center w-4/12 cursor-pointer text-center font-medium items-center text-16 border-r border-gray-50 pr-10 lg:pr-20 lg:mr-20 mr-10">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-10">
          <path d="M0.5 3.27778L3.41667 0.5M3.41667 0.5L6.33333 3.27778M3.41667 0.5V12.1667" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M9.66663 12.7222L12.5833 15.5M12.5833 15.5L15.5 12.7222M12.5833 15.5V3.83333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        {{ $t('Short') }}
        <sort-by
          class="max-w-full overflow-hidden bg-transparent absolute left-0 top-0 h-full w-ful opacity-0 z-1 md:hidden text-center appearance-none text-gray-200 border-0 py-0 font-medium cursor-pointer"
          :has-label="true"
          @change="changeFilter"
          :value="getCurrentSearchQuery.sort"
        />
      </div>
      <div class="flex justify-center w-4/12 cursor-pointer text-center font-medium items-center text-16 pr-10 lg:pr-20 lg:mr-20 mr-10">
        <svg width="19" class="mr-10" height="19" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="1" y="7" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
          <rect x="7" y="1" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
        </svg>
        {{ $t('Compare') }}
      </div>
    </div>
    <div class="filter-row mb-30" :class="{ 'active' : boxactive}">
      <div class="filter-top flex-wrap md:flex-nowrap flex items-baseline bg-gray-300 pt-20 md:pt-10 px-20 md:px-10 lg:px-20 relative">
        <div class="filter-left flex text-16 cursor-pointer font-medium items-center md:border-r border-gray-50 pr-10 lg:pr-20 lg:mr-20 mr-10" @click="openbox(1)" :class="{ 'active' : boxactive}">
          <svg width="18" height="16" class="mr-10" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8333 12.167H16.7333H17.3333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M0.666586 12.167H5.73325H7.33325" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <circle r="2.5" transform="matrix(-1 0 0 1 12.3333 12.167)" stroke="#222222" />
            <path d="M3.16663 3.8335H1.26663H0.666626" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M17.3333 3.8335H12.2666H10.6666" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <circle cx="5.66663" cy="3.8335" r="2.5" stroke="#222222" />
          </svg>
          {{ $t('Filter') }}
          <svg width="12" height="7" class="ml-20 hidden md:inline-flex" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 1L6 6L1 1" stroke="#222222" />
          </svg>
        </div>
        <div class=" w-full md:w-7/12 pt-15 md:pt-0">
          <span v-for="option of getCurrentFilters" :key="option.attribute_id">
            <span v-for="(list, index) in option" :key="index">
              <button @click="removeSelectedFilter(list.id)" class="relative -top-4 mb-10 mr-10 -inset-0 text-left border leading-14 border-gray-500 inline-flex items-center bg-white rounded-full py-9 px-15 pr-30 text-sm">
                {{ list.label }}
                <svg width="12" class="ml-7 absolute right-9 top-2/4 -mt-6" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 0.5L1 10.5" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M1 0.5L11 10.5" stroke="#555555" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </span>
          </span>
        </div>
        <div class="ml-auto flex items-center absolute md:relative right-0 top-23 md:top-0">
          <button @click="resetAllFilters" v-show="hasActiveFilters" class=" relative right-0 top-0 flex items-center text-gray-200 text-sm md:border-r md:border-l leading-14 border-gray-50 pl-10  pr-10 lg:pr-20 lg:pl-20 lg:mr-20 mr-10">
            <svg width="20" class="mr-10" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.5326 14.8915C14.1696 16.7767 11.9707 18.0006 9.48997 18.0006C5.35371 18.0006 2.00061 14.198 2.00061 10.0006C2.00061 5.80325 5.35371 2.00061 9.48997 2.00061C11.9707 2.00061 14.1696 3.2245 15.5326 5.1097C16.2518 6.1046 16.7382 7.28368 16.9103 8.56425M16.9103 8.56425L18.0006 7.18243M16.9103 8.56425L15.2772 7.87334" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ 'Reset All Filter' }}
          </button>
          <div class="sortby relative md:flex items-center hidden">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute left-0 top-15">
              <path d="M0.5 3.27778L3.41667 0.5M3.41667 0.5L6.33333 3.27778M3.41667 0.5V12.1667" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M9.66663 12.7222L12.5833 15.5M12.5833 15.5L15.5 12.7222M12.5833 15.5V3.83333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <sort-by
              :has-label="true"
              @change="changeFilter"
              :value="getCurrentSearchQuery.sort"
            />
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute right-0 top-20">
              <path d="M1 1L6 6L11 1" stroke="#222222" />
            </svg>
          </div>
        </div>
      </div>
      <div class="filter-tab-row hidden md:p-40 border-t md:border border-gray-500" :class="{ 'active' : boxactive}">
        <tabs class="mb-40">
          <template v-for="(filter, filterIndex) in availableFilters">
            <tab class="md:pr-60 last:pr-0" page-name="categorypage" :is-active="filterIndex === 0 ? true : false" :key="filterIndex" :title="$t(filterIndex + '_filter')">
              <div v-if="filterIndex==='color'">
                <h5 class="text-sm font-medium mt-0 mb-19 hidden md:block leading-19">
                  {{ $t(filterIndex + '_filter') }}
                </h5>
                <color-selector
                  context="category"
                  code="color"
                  v-for="(color, index) in filter"
                  :key="index"
                  :variant="color"
                  :selected-filters="getCurrentFilters"
                  @change="$emit('changeFilter', $event)"
                />
              </div>
              <div v-else-if="filterIndex==='size'">
                <h5 class="text-sm font-medium mt-0 mb-19 hidden md:block leading-19">
                  {{ $t(filterIndex + '_filter') }}
                </h5>
                <size-selector
                  context="category"
                  code="size"
                  class="size-select mb-10"
                  v-for="(size, index) in sortById(filter)"
                  :key="index"
                  :variant="size"
                  :selected-filters="getCurrentFilters"
                  @change="$emit('changeFilter', $event)"
                />
              </div>
              <div class="price-selector" v-else-if="filterIndex==='price'">
                <h5 class="text-sm font-medium mt-0 mb-19 hidden md:block leading-19">
                  {{ $t(filterIndex + '_filter') }}
                </h5>
                <price-selector
                  context="category"
                  class="flex items-center mt-10"
                  code="price"
                  v-for="(price, index) in filter"
                  :key="index"
                  :id="price.id"
                  :from="price.from"
                  :to="price.to"
                  :content="price.label"
                  :variant="price"
                  :selected-filters="getCurrentFilters"
                  @change="$emit('changeFilter', $event)"
                />
              </div>
              <div v-else class="sidebar">
                <h5 class="text-sm font-medium mt-0 mb-19 hidden md:block leading-19">
                  {{ $t(filterIndex + '_filter') }}
                </h5>
                <generic-selector
                  context="category"
                  class="mt-10 block"
                  :code="filterIndex"
                  v-for="(option, index) in filter"
                  :id="option.id"
                  :key="index"
                  :variant="option"
                  :selected-filters="getCurrentFilters"
                  @change="$emit('changeFilter', $event)"
                />
              </div>
            </tab>
          </template>
        </tabs>
        <div class="flex items-center justify-center close-btn">
          <label @click="openbox(1)" :class="{ 'active' : boxactive}" class="bg-white z-1 mr-auto inline-flex cursor-pointer w-auto button-outline leading-15  min-w-0 py-14 px-35 text-center ml-auto border-gray-200">
            {{ 'Close' }}
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ColorSelector from 'theme/components/core/ColorSelector'
import SizeSelector from 'theme/components/core/SizeSelector'
import PriceSelector from 'theme/components/core/PriceSelector'
import GenericSelector from 'theme/components/core/GenericSelector'
import pickBy from 'lodash-es/pickBy'
import SortBy from 'theme/components/core/SortBy.vue'
import { mapGetters } from 'vuex'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  name: 'Sidebar',
  data () {
    return {
      boxactive: false
    }
  },
  components: {
    ColorSelector,
    SizeSelector,
    PriceSelector,
    GenericSelector,
    SortBy,
    Tabs: () => import(/* webpackChunkName: "bocm-tabs" */ 'theme/components/theme/Tabs.vue'),
    Tab: () => import(/* webpackChunkName: "bocm-single-tab" */ 'theme/components/theme/Tab.vue')
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery'
    }),
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters']
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => { return (filter.length && !this.$store.getters['category-next/getSystemFilterNames'].includes(filterType)) })
    }
  },
  methods: {
    removeSelectedFilter (getOption) {
      document.getElementById(getOption).click();
    },
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters')
    },
    sortById (filters) {
      return [...filters].sort((a, b) => { return a.id - b.id })
    },
    openbox (index) {
      this.boxactive = !this.boxactive;
      if (window.matchMedia('(max-width: 767px)').matches) {
        if (this.boxactive) {
          this.addBodyClass()
        } else {
          this.removeBodyClass()
        }
      }
    },
    addBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.add('overflow-hidden');
    },
    removeBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.remove('overflow-hidden');
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
