<template>
  <button
    @click="isProdOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)"
    class="flex items-center border-none pointer text-sm w-auto"
    type="button"
    data-testid="addToWishlist"
    aria-label="Add to favorite"
  >
    <slot>
      <template>
        <svg :class="{ 'fill-current text-gray-200': isProdOnWishlist}" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.5" y="0.5" width="39" height="39" rx="19.5" fill="#FBFBFB" stroke="#F5F5F5" />
          <path :class="{ 'stroke-current text-white': isProdOnWishlist}" fill-rule="evenodd" clip-rule="evenodd" d="M24.5455 10C27.5579 10 30 12.5584 30 15.7143C30 21.427 20 30 20 30C20 30 10 21.4282 10 15.7143C10 12.5584 12.4421 10 15.4545 10C17.3523 10 19.0237 11.0153 20.0008 12.5557C20.9763 11.0153 22.6477 10 24.5455 10Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <span v-if="!isProdOnWishlist" class="sr-only md:not-sr-only">
          {{ 'Save' }}
        </span>
        <span class="sr-only md:not-sr-only" v-else>
          {{ $t('Remove') }}
        </span>
      </template>
    </slot>
  </button>
</template>

<script>
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import { mapGetters } from 'vuex'

export default {
  mixins: [ IsOnWishlist, AddToWishlist, RemoveFromWishlist ],
  computed: {
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData',
      customWishlistData: 'customWishlist/getWishlistDataList'
    }),
    userWishlistProducts () {
      if (this.customWishlist !== 'undefined' && this.currentUser) {
        return this.customWishlist.map(obj => {
          return obj.id
        })
      }
      return []
    },
    isProdOnWishlist () {
      if (this.userWishlistProducts.length === 0) {
        return false;
      }
      return this.userWishlistProducts.includes(this.product.id)
    }
  },
  methods: {
    async addProductToWhishlist (product) {
      if (this.isLoggedIn) {
        await this.$store.dispatch('customWishlist/addProduct', [product.sku, this.currentUser.id]);
        await this.$store.dispatch('customWishlist/list', this.currentUser.id)
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          class: 'wishlist-notification',
          message: i18n.t('Product {productName} has been added to wishlist!', { productName: htmlDecode(product.name) }),
          action1: { label: i18n.t('Okay') }
        }, { root: true })
        this.addToWishlist(product)
      } else {
        const quickViewModal = document.querySelectorAll('.quick-view .modal')
        if (quickViewModal.length > 0) {
          EventBus.$emit('modal-hide', 'quick-view-modal')
          setTimeout(() => {
            this.$store.commit('ui/setOverlay', true)
          }, 300);
        }
        this.$store.commit('ui/setAuthElem', 'login')
        EventBus.$emit('modal-show', 'modal-signup')
      }
    },
    async removeProductFromWhishList (product) {
      let findItemId = this.customWishlistData.result.items.find(wishlistData => wishlistData.product.id === product.id);
      await this.$store.dispatch('customWishlist/deleteProduct', [findItemId.id, this.currentUser.id])
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        class: 'wishlist-notification-removed',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
      this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.removeFromWishlist(product)
    }
  }
}
</script>
