<template>
  <div class="py-20 border-b border-gray-500 w-full flex wishlist-col">
    <div class="blend" @click="closeWishlist">
      <router-link :to="productLink" class="block">
        <product-image :image="image" />
      </router-link>
    </div>
    <div class="flex pl-20 relative w-full wishlist-text">
      <div class="flex w-full flex-wrap justify-between pr-15 sm:pr-20 wishlist-name">
        <div @click="closeWishlist">
          <router-link :to="productLink" class="inline-block align-top text-base text-gray-200 leading-19 md:leading-21">
            {{ product.name | htmlDecode }}
          </router-link>
          <div class="text-gray-200 pt-5 sku text-xs leading-15" v-if="icons">
            {{ product.sku }}
          </div>
          <div v-if="showAddToCart">
            <div v-if="product.type_id === 'simple'">
              <add-to-cart
                v-if="isWishlistPage"
                :product="product"
                add-to-cart-text="Buy Now"
                class="wishlist-add-to-cart w-auto no-outline mt-20 text-center text-sm inline-block border-0 px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 text-white min-w-0"
              />
              <add-to-cart
                v-else
                :product="product"
                add-to-cart-text="Add to cart"
                class="wishlist-add-to-cart w-auto no-outline mt-20 text-center text-sm inline-block border-0 px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 text-white min-w-0"
              />
            </div>
            <router-link
              v-else
              :to="productLink"
              class="wishlist-add-to-cart button-full font-medium redu no-outline mt-10 text-center text-sm inline-block px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 text-white w-auto min-w-0"
            >
              {{ 'Configure' }}1
            </router-link>
          </div>
        </div>
      </div>
      <div class="flex align-right text-right start-xs between-sm prices text-base justify-end w-12/3" v-if="icons">
        <div v-if="product.price_incl_tax" class="w-full text-base">
          <span class="text-base font-bold leading-21 text-gray-200" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}</span>
          <span class="price-original text-base font-bold leading-21 text-gray-200 line-through" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>
          <span v-if="!product.special_price" class="text-base font-bold leading-21 text-gray-200">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
        </div>
        <div class="w-full">
          <span @click="removeProductFromWhishList(product)"><remove-button class="cl-accent" /></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import AddToCart from 'theme/components/core/AddToCart'
import { mapGetters } from 'vuex'

export default {
  components: {
    RemoveButton,
    ProductImage,
    AddToCart
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    },
    icons: {
      type: Boolean,
      default: true
    },
    isWishlistPage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData',
      customWishlistData: 'customWishlist/getWishlistDataList'
    }),
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    async removeProductFromWhishList (product) {
      let findItemId = this.customWishlistData.result.items.find(wishlistData => wishlistData.product.id === product.id);
      await this.$store.dispatch('customWishlist/deleteProduct', [findItemId.id, this.currentUser.id])
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.removeFromWishlist(product)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        class: 'wishlist-notification-removed',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('Okay') }
      }, { root: true })
    }
  }
}
</script>

<style lang="scss" scoped>
  .blend {
    flex: 0 0 100px;
     @media (max-width:767px) {
      flex: 0 0 70px;
     }
  }
  .filters {
    flex: 1 1 200px;
  }
</style>
