<template>
  <button class="border-0 bg-transparent underline text-xs md:text-sm leading-19 text-gray-200 absolute right-0 bottom-0 hover:text-orange-dark">
    {{ 'Remove' }}
  </button>
</template>
