<template>
  <div class="wishlist text-gray-200 relative h-full">
    <div class="px-20 md:px-30">
      <div class="py-20 md:py-30 border-b border-gray-500 flex justify-between items-center">
        <h2
          class="text-18 md:text-lg font-medium leading-32 text-gray-200 m-0"
        >
          {{ 'Wishlist' }}
        </h2>
        <clear-wishlist-button v-if="customWishlist.length" @click="clearWishlist" class="justify-end inline-flex" />
        <i class="cursor-pointer close-icon" @click="closeWishlist">
          <svg class="w-30 md:w-40 h-30 md:h-40" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" stroke="#222222" />
            <path d="M13.334 13.3335L26.6673 26.6668" stroke="#222222" />
            <path d="M26.668 13.3335L13.3346 26.6668" stroke="#222222" />
          </svg>
        </i>
      </div>
      <h4 v-if="!customWishlist.length" class="m-0 text-md font-semibold py-20">
        {{ $t('Your wishlist is empty.') }}
      </h4>
      <div v-if="!customWishlist.length">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')" @click.native="closeWishlist" class="text-black font-semibold ">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
      <div class="products">
        <product v-for="wishlistProduct in customWishlist" :key="wishlistProduct.id" :product="wishlistProduct" />
      </div>
    </div>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'
import { mapGetters } from 'vuex'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product,
    ClearWishlistButton
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      isLogged: 'user/isLoggedIn',
      customWishlist: 'customWishlist/getCustomWishlistData'
    })
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('Remove'),
          action: () => {
            this.clearWishlistData()
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    },
    async clearWishlistData () {
      await this.$store.dispatch('customWishlist/clearWishlist', this.currentUser.id)
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
    }
  },
  mixins: [Wishlist]
}
</script>
<style lang="scss">
.wishlist {
  .product-image {
    padding-bottom: 0 !important;
    height: 100px;
    img {
      height: auto;
      width: auto;
    }
    @media (max-width: 767px) {
      height: 70px;
    }
  }
}
</style>
