<template>
  <modal name="modal-category-compare" class="modal-category-compare">
    <div slot="content" class="flex flex-col modal-category-wrap">
      <div class="modal-category-button relative mb-40">
        <span class="static md:absolute ml-auto right-0 top-0 block">
          <svg class="w-30 md:w-40 h-30 md:h-40 cursor-pointer ml-auto" @click="close" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" stroke="#222222" />
            <path d="M13.3335 13.3333L26.6668 26.6667" stroke="#222222" />
            <path d="M26.6675 13.3334L13.3341 26.6667" stroke="#222222" />
          </svg>
        </span>
        <button class="button-full w-auto text-base px-20 mr-10 md:mr-18 mt-10">
          {{ 'Print' }}
        </button>
        <button class="button-outline text-base px-20 mr-10 mt-10 md:mr-18 border-gray-200">
          {{ 'Save as PDF' }}
        </button>
        <button class="button-outline text-base px-20 mt-10 border-gray-200">
          {{ 'Open as PDF' }}
        </button>
        <router-link @click.native="close" :to="localizedRoute('/')" class="border border-gray-500 h-45 mt-20 text-sm flex justify-center md:hidden items-center text-gray-200">
          <svg class="mr-9" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 5.91058H10.4516" stroke="#222222" />
            <path d="M5.22656 0.448486L5.22656 11.3723" stroke="#222222" />
          </svg>
          {{ 'Add More Product Compare' }}
        </router-link>
      </div>
      <div class="md:flex overflow-auto relative pt-50 md:pt-0 border-b md:border-b-0 border-gray-500">
        <div class="compare-attribute-list compare-attribute-list-title border-gray-500">
          <div class="add-more-title bg-gray-100 md:bg-transparent border border-r-0  border-gray-500 leading-19 p-15 md:p-20 mb-70 truncate flex items-center">
            <span class="block md:hidden m-auto">{{ 'Product Details' }}</span>
            <router-link @click.native="close" :to="localizedRoute('/')" class="hidden md:flex items-center text-gray-200">
              <svg class="mr-9" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 5.91058H10.4516" stroke="#222222" />
                <path d="M5.22656 0.448486L5.22656 11.3723" stroke="#222222" />
              </svg>
              {{ 'Add More Product Compare' }}
            </router-link>
          </div>
          <div class="border-t border-l last:border-b border-gray-500 leading-19 px-15 md:p-20 md:truncate bg-gray-100 text-center md:text-left flex items-center md:block" v-for="(attribute, index) in comparableAttributes" :key="index">
            {{ $t(attribute.label) }}
          </div>
        </div>
        <div class="compare-item-tile relative" v-for="item in compareItems" :key="item.id">
          <category-tile :category="item" class="flex md:block">
            <template v-slot:compareCategoryAttributes>
              <div class="compare-attribute-list border border-b-0 border-gray-500 md:mt-70 flex md:block">
                <div class="md:border-b border-r md:border-r-0 border-gray-500 leading-19 p-20 md:truncate text-center md:text-left" v-for="(attribute, index) in comparableAttributes" :key="index">
                  <span v-if="attribute.code == 'catprice'">
                    {{ item[attribute.code] | price(storeView) }}
                  </span>
                  <span v-else>
                    {{ getOptionLabel(attribute.code, item[attribute.code]) }}
                  </span>
                </div>
              </div>
            </template>
          </category-tile>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import Modal from 'theme/components/core/Modal.vue';
import CategoryTile from 'theme/components/core/CategoryTile';
import { entities } from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapGetters } from 'vuex';

export default {
  components: {
    Modal,
    CategoryTile
  },
  props: {
    compareItems: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapGetters({
      categoryAttributes: 'categoryCompare/getCompareCategoryAttributeList'
    }),
    comparableAttributes () {
      return entities.category.compareAttributes
    },
    getOptionLabel () {
      return (code, option) => {
        // foo.map(i => i.people.filter(j => j.id == id));
        let catAttrOptionValue = option;
        this.categoryAttributes.forEach(attr => {
          if (attr.attribute_code === code) {
            if (attr.options && attr.options.length) {
              const optValue = attr.options.filter(opt => opt.value == option)
              catAttrOptionValue = optValue.length ? optValue[0].label : ''
            }
          }
        });
        return catAttrOptionValue
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    close () {
      this.$bus.$emit('modal-hide', 'modal-category-compare');
      this.$store.commit('ui/setOverlay', false)
    }
  },
  watch: {
    compareItems: {
      handler (value) {
        if (value.length === 0) {
          this.close()
        }
      },
      immediate: true
    }
  },
  async created () {
    await this.$store.dispatch(
      'attribute/loadCategoryAttributes',
      { category: this.comparedItems }
    )
  }
};
</script>
<style lang="scss">
.modal-category-compare .modal-container {
  min-width: 950px;
  max-height: 850px;
  overflow: auto;
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    min-width: auto;
  }
  @media (max-width: 767px) {
    min-width: auto;
    width: 100%;
  }
}
.modal-category-compare .modal-container,
.modal-category-compare .modal-container .modal-category-wrap {
  scrollbar-width: thin;
  scrollbar-color: #222222 #DDDDDD;
}
.compare-item-tile {
  min-width: 270px;
  width: 270px;
}
.add-more-title {
  min-height: 390px;
}
@media (max-width: 767px) {
  .modal-category-compare .compare-item-tile .product-cover,
  .modal-category-compare .compare-attribute-list > div,
  .modal-category-compare .category-tile-wrap {
    max-width: 170px;
    min-width: 170px;
  }
  .modal-category-compare .compare-item-tile .product-cover {
    width: 80px;
    min-width: auto;
  }
  .modal-category-compare .compare-item-tile .product-image {
    width: 80px;
    padding-top: 80px;
  }
  .modal-category-compare .compare-attribute-list-title > div:last-child{
    min-width: 171px;
  }
}
</style>
