<template>
  <div class="newsletter-wrap bg-gray-400 py-35 lg:py-62 relative flex flex-wrap lg:flex-nowrap overflow-hidden items-center">
    <svg class="absolute -bottom-18 md:-bottom-6 mail-icon" width="157" height="160" viewBox="0 0 157 160" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M78.7363 116.974C79.4014 117.468 80.341 117.329 80.8348 116.664C81.3287 115.999 81.1899 115.059 80.5248 114.565L78.7363 116.974ZM2 58.1266L2.89423 56.9223C2.43912 56.5843 1.83237 56.5318 1.32596 56.7866C0.819556 57.0413 0.5 57.5597 0.5 58.1266H2ZM2 164.766H0.5V166.266H2V164.766ZM155 164.766V166.266H156.5V164.766H155ZM155 58.1266H156.5C156.5 57.5559 156.176 57.0346 155.664 56.7818C155.153 56.529 154.542 56.5884 154.089 56.9351L155 58.1266ZM44.803 140.518C44.145 141.021 44.0195 141.962 44.5228 142.62C45.0261 143.278 45.9675 143.404 46.6255 142.9L44.803 140.518ZM80.5248 114.565L2.89423 56.9223L1.10577 59.3309L78.7363 116.974L80.5248 114.565ZM0.5 58.1266V164.766H3.5V58.1266H0.5ZM2 166.266H155V163.266H2V166.266ZM156.5 164.766V58.1266H153.5V164.766H156.5ZM154.089 56.9351L44.803 140.518L46.6255 142.9L155.911 59.3181L154.089 56.9351Z" fill="#E0E0E0" />
      <path d="M13.333 66.0315V2H143.666V66.545" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" />
      <path d="M38.835 30.0632H118.168" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" />
      <path d="M38.835 58.1266H118.168" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" />
    </svg>
    <svg class="absolute -top-13 md:-top-14 right-4 md:-right-28 mail-icon-right" width="175" height="186" viewBox="0 0 175 186" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M87.9099 130.418C88.575 130.912 89.5145 130.773 90.0084 130.108C90.5023 129.443 90.3634 128.503 89.6983 128.009L87.9099 130.418ZM2 64.7589L2.89423 63.5546C2.43912 63.2167 1.83237 63.1642 1.32596 63.4189C0.819556 63.6736 0.5 64.192 0.5 64.7589H2ZM2 184H0.5V185.5H2V184ZM173.08 184V185.5H174.58V184H173.08ZM173.08 64.7589H174.58C174.58 64.1882 174.256 63.667 173.744 63.4141C173.233 63.1613 172.622 63.2207 172.169 63.5674L173.08 64.7589ZM49.9687 157.027C49.3107 157.53 49.1852 158.471 49.6885 159.129C50.1918 159.787 51.1332 159.913 51.7912 159.41L49.9687 157.027ZM89.6983 128.009L2.89423 63.5546L1.10577 65.9632L87.9099 130.418L89.6983 128.009ZM0.5 64.7589V184H3.5V64.7589H0.5ZM2 185.5H173.08V182.5H2V185.5ZM174.58 184V64.7589H171.58V184H174.58ZM172.169 63.5674L49.9687 157.027L51.7912 159.41L173.991 65.9504L172.169 63.5674Z" fill="#E0E0E0" fill-opacity="0.1" />
      <path d="M14.6724 73.5981V2H160.407V74.1723" stroke="#E0E0E0" stroke-opacity="0.1" stroke-width="3" stroke-linecap="round" />
      <path d="M43.1874 33.3793H131.896" stroke="#E0E0E0" stroke-opacity="0.1" stroke-width="3" stroke-linecap="round" />
      <path d="M43.1874 64.7589H131.896" stroke="#E0E0E0" stroke-opacity="0.1" stroke-width="3" stroke-linecap="round" />
    </svg>
    <div class="subscription-text pr-20">
      <h2 class="text-white text-18 md:text-lg leading-24 md:leading-32 mt-0 mb-10 md:mb-8">
        {{ 'Don’t Miss Out To Subscribe' }}
      </h2>
      <p class="text-sm leading-18 text-white pb-0">
        {{ 'Enter your email address above to receive offers and news from Best Online Cabinets' }}
      </p>
    </div>
    <form class="relative mt-30 lg:mt-0" @submit.prevent="subscribe(onSuccesfulSubmission)" novalidate>
      <base-input
        type="email"
        name="email"
        v-model="email"
        autocomplete="email"
        :placeholder="$t('Enter your email address')"
        :label="false"
        @input="$v.email.$touch()"
        :validations="[
          {
            condition: $v.email.$error && !$v.email.required,
            text: $t('Field is required.')
          },
          {
            condition: !$v.email.email && $v.email.$error,
            text: $t('Please provide valid e-mail address.')
          }
        ]"
      />
      <button-full
        type="submit"
        :disabled="this.$v.$invalid"
        @click.native="$v.email.$touch"
        class="absolute w-26 h-18 top-16 right-20 min-w-0 p-0 bg-transparent hover:bg-transparent"
      >
        <svg width="27" height="20" viewBox="0 0 27 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.2129 19L25.9999 10L18.2129 1" stroke="#222222" />
          <path d="M25.4135 10.0004H0" stroke="#222222" />
        </svg>
      </button-full>
    </form>
  </div>
</template>

<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import { required, email } from 'vuelidate/lib/validators'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'Subscribe',
  mixins: [SubscriptionStatus, Subscribe],
  validations: {
    email: {
      required,
      email
    }
  },
  components: {
    ButtonFull,
    BaseInput
  },
  beforeDestroy () {
    this.$off('validation-error')
  },
  methods: {
    subscribe () {
      // argument omitted for validation purposes
      if (!this.$v.$invalid) {
        this.$store.dispatch('mailchimp/add', {
          'email': this.email
        }).then(res => {
          if (res && res.memberId) {
            this.onSuccesfulSubmission(res.memberId)
          } else {
            this.$store.dispatch('notification/spawnNotification', {
              type: 'error',
              message: i18n.t('Something went wrong. Try again in a few seconds.'),
              action1: { label: i18n.t('OK') }
            })
          }
        })
      }
    },
    onSuccesfulSubmission (isSubscribed) {
      if (isSubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully subscribed to our newsletter!'),
          action1: { label: i18n.t('Okay') }
        })
      }
    }
  }
}
</script>

<style lang="scss">
.newsletter-wrap  {
  padding-left: 315px;
  padding-right: 75px;
  form {
    margin-left: auto;
    width: 47%;
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
  .mail-icon {
    left: 77px;
    @media (max-width: 767px) {
      left: 20px;
      width: 99px;
      height: 105px;
    }
  }
  .subscription-text {
    max-width: 340px;
  }
  @media (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
    .mail-icon-right {
      width: 92px;
      height: 98px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    padding-left: 280px;
    .mail-icon {
      width: 99px;
      height: 105px;
    }
  }
}
</style>
