<template>
  <div v-if="pageName === 'categorypage'" class="tab-col">
    <div class="tab" v-show="selectedIndex">
      <div class="tab-content">
        <slot />
      </div>
    </div>
  </div>
  <div v-else>
    <div class="tab" v-if="selectedIndex">
      <div class="tab-content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: this.isActive
    }
  },
  props: {
    title: {
      type: String,
      default: 'Tab'
    },
    isActive: {
      type: Boolean,
      default: false
    },
    pageName: {
      type: String,
      default: ''
    }
  }
}
</script>
