<template>
  <div class="breadcrumbs  flex items-center text-gray-200 text-sm md:text-base py-20 md:py-40">
    <router-link :to="localizedRoute('/')" :title="$t('Home Page')">
      <svg width="18" height="16" class="w-16 h-16 md:w-18 md:h-18" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 8L9 0L0 8H2.25V16H6.75V10.2857H11.25V16H15.75V8H18Z" fill="#555555" />
      </svg>
    </router-link>
    <label>
      <svg width="8" height="14" class="mx-13" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L1 13" stroke="#222222" />
      </svg>
    </label>
    <span v-for="link in paths" :key="link.route_link" class="flex items-center capitalize">
      <router-link class="text-gray-600" :to="link.route_link" v-if="link.name !== 'Default Category' && link.name !== 'Homepage' && link.name !== 'Default'">
        {{ link.name && link.name.toLowerCase() | htmlDecode }}
      </router-link>
      <label v-if="link.name !== 'Default Category' && link.name !== 'Homepage' && link.name !== 'Default'">
        <svg width="8" height="14" class="mx-13" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7 7L1 13" stroke="#222222" />
        </svg>
      </label>
    </span>
    <span class="capitalize">
      {{ current && current.toLowerCase() | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'
export default {
  mixins: [Breadcrumbs]
}
</script>
