<template>
  <transition name="fade" appear>
    <div class="cookie fixed w-full bg-gray-400 bottom-0 z-10" v-if="isOpen">
      <div class="container">
        <div class="flex justify-between items-center">
          <div>
            <span class="pr-5 text-white">
              {{ message }}
            </span>
            <router-link :to="localizedRoute(detailsLink)" :title="detailsLinkText" class="text-gray-200">
              {{ detailsLinkText }}
            </router-link>
          </div>
          <div>
            <span
              class="group block hover:bg-gray-500 p-15"
              @click="accept"
              @keyup.enter="accept"
              data-testid="closeCookieButton"
              tabindex="0"
              role="button"
              aria-label="closebutton"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-gray-300 group-hover:text-black" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import i18n from '@vue-storefront/i18n'
export default {
  props: {
    detailsLinkText: {
      type: String,
      default: i18n.t('See details')
    },
    detailsLink: {
      type: String,
      default: '/privacy'
    },
    message: {
      type: String,
      default: i18n.t('We use cookies to give you the best shopping experience.')
    }
  },
  data () {
    return {
      isOpen: false
    }
  },
  methods: {
    accept () {
      this.setVisited()
      this.isOpen = false
    },
    setVisited () {
      this.$store.dispatch('claims/set', { claimCode: 'cookiesAccepted', value: true })
    }
  },
  mounted () {
    this.$store.dispatch('claims/check', { claimCode: 'cookiesAccepted' }).then((cookieClaim) => {
      if (!cookieClaim) {
        this.isOpen = true
        this.$store.dispatch('claims/set', { claimCode: 'cookiesAccepted', value: false })
      } else {
        this.isOpen = !cookieClaim.value
      }
    })
  }
}
</script>
<style lang="scss">
@media only screen and (min-width: 768px) and (max-width: 1340px) {
  .cookie .container {
    padding-right: 60px;
  }
}
</style>
