<template>
  <div class="notifications">
    <transition-group name="fade-in-down">
      <div
        class="notification"
        v-for="(notification, index) in notifications"
        :key="`${notification.type}_${index}`"
        :class="[notification.type, notification.class]"
      >
        <div
          @click="execAction(notification.action1, index)"
          class="message text-sm pr-10 leading-16 relative flex items-center"
          data-testid="notificationMessage"
        >
          {{ notification.message }}
        </div>
        <div class="actions flex justify-between text-sm">
          <div
            class="notification-action"
            :class="`border-${notification.type}`"
            id="notificationAction1"
            data-testid="notificationAction1"
            @click="execAction(notification.action1, index)"
          >
            {{ notification.action1.label }}
          </div>
          <div
            class="notification-action"
            id="notificationAction2"
            data-testid="notificationAction2"
            @click="execAction(notification.action2, index)"
            v-if="notification.action2"
          >
            {{ notification.action2.label }}
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { Notification } from '@vue-storefront/core/modules/notification/components/Notification'

export default {
  mixins: [Notification],
  methods: {
    execAction (action, index) {
      if (action.action) {
        // for backward compatibility
        if (action.action === 'close') {
          this.$store.dispatch('notification/removeNotification', index)
        } else {
          action.action()
        }
      }
      this.$store.dispatch('notification/removeNotification', index)
    }
  }
}
</script>

<style lang="scss" scoped>
.notifications {
  @media (max-width: 767px) {
    width: auto;
    .fade-in-down-enter,
    .fade-in-down-leave-to {
      transform: translateY(100%);
    }
  }
}
</style>
