<template>
  <div @click="$emit('change', variant)" class="relative text-gray-200 text-sm pl-30">
    <button
      class="absolute top-2 left-0 w-18 h-18 bg-white border border-gray-200 cursor-pointer"
      :class="{ active: isActive }"
      :aria-label="$t('Price {variant}', { variant: variant.label })"
    >
      <span class="block w-14 h-14" />
    </button>
    <span class="text-14">{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>
<style lang="scss" scoped>
  .price-selector{
    button{
      border-radius:2px;
    }
  }
</style>
