<template>
  <div class="custom-option">
    <h4 class="mt-0 mb-5 font-medium text-base">
      {{ option.title }}
    </h4>
    <div class="border border-gray-700 p-10 md:p-20 rounded">
      <div class="m5 relative" v-for="opval in option.product_links" :key="opval.id" data-testid="bundle-single-option">
        <input
          type="radio"
          class="m0 no-outline hidden"
          :name="bundleOptionName + opval.id"
          :id="bundleOptionName + opval.id"
          focus
          :value="opval.id"
          v-model="productOptionId"
        >
        <label v-if="opval.product" class="block mb-15 font-medium" :for="bundleOptionName + opval.id" v-html="opval.product.name" />
        <product-quantity
          class=" text-gray-400 inline-flex"
          v-model="quantity"
          :name="'Select Quantity'"
          :min="0"
        />
        <span class="error text-red block mt-5" v-if="errorMessage">{{ errorMessage }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { ProductBundleOption } from '@vue-storefront/core/modules/catalog/components/ProductBundleOption.ts'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
export default {
  mixins: [ProductBundleOption],
  components: {
    ProductQuantity
  }
}
</script>
