<template>
  <div class="media-gallery-carousel w-full overflow-hidden" v-if="isOnline">
    <div class="product-image-slider relative">
      <div class="swiper-arrows">
        <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev" v-if="Object.keys(gallery).length > 1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </div>
        <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next" v-if="Object.keys(gallery).length > 1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-19 w-19" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </div>
      </div>
      <swiper class="swiper gallery-top" :options="swiperOption" ref="swiperTop" :instance-name="sliderId" :speed="carouselTransitionSpeed" @pageChange="pageChange" :navigate-to="currentPage">
        <swiper-slide v-for="(images, index) in gallery" :key="images.src">
          <div class="product-image-container bg-gray-100" :class="{'video-container w-full h-100 flex relative': images.video}">
            <product-image
              v-show="hideImageAtIndex !== index"
              class="image cursor-pointer"
              :image="images"
              :alt="productName | htmlDecode"
              @click="openOverlay"
            />
            <product-video
              v-if="images.video && (index === currentPage)"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination z-6 w-full absolute text-center bottom-15" v-if="Object.keys(gallery).length > 1" />
    </div>
    <span
      class="zoom-in absolute p-15 right-0 bottom-0 z-6 cursor-pointer block"
      @click="openOverlay"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM10 7v3m0 0v3m0-3h3m-3 0H7" />
      </svg>
    </span>
  </div>
  <product-image v-else :image="offline" />
</template>

<script>
import config from 'config'
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import { onlineHelper } from '@vue-storefront/core/helpers'
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import map from 'lodash-es/map'
import reduce from 'lodash-es/reduce'

SwiperCore.use([Navigation, Pagination]);

export default {
  name: 'ProductGalleryCarousel',
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    configuration: {
      type: Object,
      required: true
    },
    sliderId: {
      type: String,
      default: 'product-gallery'
    }
  },
  directives: {
    swiper: directive
  },
  data () {
    return {
      isZoomOpen: false,
      hideImageAtIndex: null,
      carouselTransitionSpeed: 0,
      currentThumbSlide: 0,
      currentSlide: 0,
      currentColor: 0,
      currentPage: 0,
      swiperOption: {
        slidesPerView: 1,
        grabCursor: true,
        observer: true,
        observeParents: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {}
      }
    }
  },
  computed: {
    isOnline (value) {
      return onlineHelper.isOnline
    },
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-configure', this.selectVariant)
    this.$bus.$on('product-after-load', this.selectVariant)
  },
  mounted () {
    this.$emit('loaded');
    this.selectVariant()
    if (this.configuration.color) {
      const { color } = this.configuration
      this.currentColor = color.id
    }
  },
  beforeDestroy () {
    this.$bus.$off('product-after-configure', this.selectVariant)
    this.$bus.$off('product-after-load', this.selectVariant)
  },
  methods: {
    thumbnailObj (image) {
      return {
        error: image.error,
        loading: image.loading,
        src: image.loading
      };
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    },
    openOverlay () {
      const currentSlide = this.$refs.swiperTop.$swiper.activeIndex
      this.$emit('toggle', currentSlide)
      this.toggleZoom()
    },
    toggleZoom () {
      this.isZoomOpen = !this.isZoomOpen
    },
    onEscapePress () {
      if (this.isZoomOpen) {
        this.toggleZoom()
      }
    },
    switchCarouselSpeed () {
      const { color } = this.configuration
      if (color && this.currentColor !== color.id) {
        this.currentColor = color.id
        this.carouselTransitionSpeed = 0
      } else {
        this.carouselTransitionSpeed = 500
      }
    },
    pageChange (index) {
      this.switchCarouselSpeed()
      this.hideImageAtIndex = null
    },
    navigate (index) {
      if (index < 0) return
      this.currentPage = index
    },
    async selectVariant (configuration) {
      await this.$nextTick()
      if (config.products.gallery) {
        const option = reduce(map(this.configuration, 'attribute_code'), (result, attribute) => {
          result[attribute] = this.configuration[attribute].id

          return result
        }, {})
        if (option) {
          let index = this.gallery.findIndex(
            obj => obj.id && Object.entries(obj.id).toString() === Object.entries(option).toString(), option)
          if (index < 0) index = this.gallery.findIndex(obj => String(obj.id && obj.id.color) === String(option.color))
          this.navigate(index)
        }
      }
      this.$emit('close')
    }
  }
}
</script>
<style lang="scss">
  .swiper-pagination{
    .swiper-pagination-bullet{
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #000;
      border-radius: 100%;
      cursor: pointer;
      margin: 0 5px;
      &.swiper-pagination-bullet-active{
        background: rgb(130, 130, 130);
      }
    }
  }

.product-top-section {
  section > .image {
    width: 48.4%;
  }
  .data {
    width: 51.6%;
  }
  .media-gallery-carousel {
    .product-image {
      padding-bottom: 100% !important;
    }
  }
}
</style>
