<template>
  <form class="custom-options custom-scrollbar my-30 -mr-10 pr-10 overflow-auto" data-testid="bundle-options">
    <div class="mt-15 md:mt-25 first:mt-0" v-for="option in product.bundle_options" :key="('bundleOption_' + option.option_id)">
      <product-bundle-option :option="option" @option-changed="optionChanged" :error-messages="errorMessages" />
    </div>
  </form>
</template>

<script>
import { ProductBundleOptions } from '@vue-storefront/core/modules/catalog/components/ProductBundleOptions.ts'
import ProductBundleOption from './ProductBundleOption'

export default {
  mixins: [ProductBundleOptions],
  components: {
    ProductBundleOption
  }
}
</script>
<style lang="scss">
.custom-options {
  max-height: 530px;
  @media (max-width: 767px) {
    max-height: 475px;
  }
}
</style>
