<template>
  <div class="product-listing flex flex-wrap">
    <div
      v-for="(product) in products"
      :key="product.id"
      class="w-6/12 md:w-4/12 lg:w-3/12 bg-white border border-l-0 -mb-1 border-gray-500 p-10 product-listing-col"
    >
      <product-tile :show-add-to-cart="true" :iswishlist="true" :product="product" />
    </div>
  </div>
</template>

<script>
import ProductTile from 'theme/components/core/ProductTile'
let lastHero = 0
export default {
  name: 'ProductListing',
  components: {
    ProductTile
  },
  props: {
    products: {
      type: null,
      required: true
    }
  }
}
</script>
