<template>
  <span class="tooltip relative">
    <svg width="18" class="inline-block cursor-pointer align-top ml-4" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99962 0C4.02971 0 0 4.02971 0 8.99962C0 13.9695 4.02971 18 8.99962 18C13.9695 18 18 13.9695 18 8.99962C18 4.02971 13.9695 0 8.99962 0ZM10.8735 13.9485C10.4103 14.1314 10.0415 14.27 9.76497 14.366C9.48916 14.462 9.1684 14.51 8.80344 14.51C8.24268 14.51 7.80611 14.3729 7.49525 14.0994C7.1844 13.8258 7.02973 13.4792 7.02973 13.0578C7.02973 12.894 7.04116 12.7264 7.06402 12.5558C7.08764 12.3851 7.12497 12.1931 7.17602 11.9775L7.75583 9.92947C7.80687 9.7329 7.85106 9.54623 7.88611 9.37252C7.92116 9.19728 7.93792 9.03652 7.93792 8.89023C7.93792 8.62966 7.88383 8.4468 7.7764 8.34394C7.66745 8.24109 7.46249 8.1908 7.15697 8.1908C7.00764 8.1908 6.85373 8.2129 6.69602 8.25937C6.53983 8.30737 6.40421 8.3508 6.29297 8.39347L6.44611 7.76261C6.82554 7.60794 7.18897 7.47537 7.53564 7.36566C7.8823 7.25442 8.20992 7.19956 8.51849 7.19956C9.07545 7.19956 9.50516 7.33518 9.80764 7.60337C10.1086 7.87232 10.2602 8.22204 10.2602 8.65175C10.2602 8.7409 10.2495 8.89785 10.229 9.12185C10.2084 9.34661 10.1695 9.55156 10.1132 9.73975L9.5364 11.7817C9.48916 11.9455 9.44725 12.1329 9.40916 12.3424C9.37183 12.5519 9.35354 12.7119 9.35354 12.8194C9.35354 13.0906 9.41373 13.2758 9.53563 13.374C9.65602 13.4723 9.86706 13.5218 10.1657 13.5218C10.3067 13.5218 10.4644 13.4967 10.6427 13.4479C10.8194 13.3992 10.9474 13.3558 11.0282 13.3184L10.8735 13.9485ZM9.80022 6.03276C10.1789 6.03276 10.5027 5.9078 10.7717 5.6579C11.0406 5.40799 11.1755 5.10476 11.1755 4.74895C11.1755 4.39466 11.0406 4.0899 10.7717 3.83771C10.5035 3.58476 10.1789 3.45904 9.80022 3.45904C9.42232 3.45904 9.09622 3.58476 8.82498 3.83771C8.55603 4.0899 8.41889 4.39466 8.41889 4.74895C8.41889 5.10399 8.55527 5.40799 8.82498 5.6579C9.09622 5.9078 9.42232 6.03276 9.80022 6.03276Z" fill="#222222" />
    </svg>
    <div class="bottom-full text absolute p-25 bg-gray-600 text-white text-sm hidden left-1/2 transform -translate-x-1/2 mb-12 text-center">
      <slot />
    </div>
  </span>
</template>

<style lang="scss" scoped>
.tooltip {
  &:hover .text {
    display: block;
  }
}
.text {
  width: 200px;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #4f4f4f;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}
</style>
