<template>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-15">
    <div
      class="tile-links"
      v-for="(tile, index) in social_tiles"
      :key="index"
    >
      <div
        class="flex overflow-hidden"
      >
        <img
          class="tile-image cursor-pointer w-full h-full transition duration-700 ease-in-out transform hover:scale-125"
          v-lazy="tile.image"
          :alt="tile.alt"
          height="374"
          width="374"
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TileLinks',
  data () {
    return {
      social_tiles: [
        {
          image: '/assets/ig/ig01.jpg',
          alt: 'Woman practicing on the beach'
        },
        {
          image: '/assets/ig/ig02.jpg',
          alt: 'Man practicing on the beach'
        },
        {
          image: '/assets/ig/ig03.jpg',
          alt: 'Woman drinks water form the bottle on the beach'
        },
        {
          image: '/assets/ig/ig04.jpg',
          alt: 'Man rests on the beach'
        },
        {
          image: '/assets/ig/ig05.jpg',
          alt: 'Woman practicing on the beach'
        },
        {
          image: '/assets/ig/ig06.jpg',
          alt: 'Man is holding a watter bottle'
        }
      ]
    }
  }
}
</script>
