<template>
  <router-link :to="localizedRoute('/compare')" class="relative group" v-if="isActive" data-testid="compare-list-icon">
    <i class="compare-icons">
      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1" y="7" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
        <rect x="7" y="1" width="13" height="13" rx="2" stroke="#222222" stroke-linejoin="round" />
      </svg>
    </i>
    <span class="sr-only">Compare</span>
    <span
      class="compare-count top-20 md:top-15 left-0 -right-20 md:-right-26 mr-auto ml-auto font-bold leading-14 text-xs rounded-full absolute text-center border-box p-0 w-14 h-14  text-white  bg-orange-dark md:bg-gray-200"
      v-cloak
      v-show="getCompareProductsCount"
    >
      {{ getCompareProductsCount }}
    </span>
  </router-link>
</template>

<script>
import CompareIcon from '@vue-storefront/core/compatibility/components/blocks/Header/CompareIcon'
import { mapGetters } from 'vuex'

export default {
  mixins: [CompareIcon],
  computed: {
    ...mapGetters('compare', ['getCompareProductsCount'])
  }
}
</script>
