<template>
  <div>
    <div class="bg-cl-secondary py35 pl20">
      <div class="container">
        <breadcrumbs
          :with-homepage="true"
          :routes="[]"
          active-route="Assembly Instructions"
        />
      </div>
    </div>
    <Assembly />
  </div>
</template>

<script>
import Assembly from 'src/modules/bocm/assembly/components/Assembly.vue'
import Breadcrumbs from '../components/core/Breadcrumbs'

export default {
  name: 'AssemblyInstruction',
  components: {
    Assembly,
    Breadcrumbs
  }
}
</script>
