<template>
  <div id="checkout">
    <div class="container">
      <div class="lg:flex" v-show="!isThankYouPage">
        <div class="lg:w-7/12 lg:pr-30 pt-20 md:pt-60">
          <div class="checkout-left md:pb-50">
            <personal-details
              class="line relative"
              :is-active="activeSection.personalDetails"
              :focused-field="focusedField"
            />
            <shipping class="line relative" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
            <payment class="line relative" :is-active="activeSection.payment" />
            <!-- <order-review class="line relative mb-50" :is-active="activeSection.orderReview" /> -->
            <div id="custom-steps" />
          </div>
        </div>
        <div class="border-l border-gray-500 checkout-right">
          <cart-summary />
        </div>
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage" />
  </div>
</template>
<script>
import Checkout from '@vue-storefront/core/pages/Checkout'

import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
// import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'

export default {
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    // OrderReview,
    CartSummary,
    ThankYouPage
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  mounted () {
    this.$store.commit('ui/setMicrocart', false)
    this.$store.commit('ui/setSidebar', false)
  },
  methods: {
     onAfterPaymentDetails (receivedData, validationResult) {
      this.payment = receivedData
      this.validationResults.payment = validationResult
      this.savePaymentDetails()
    },
    async placeOrder () {
      await this.$store.dispatch('checkout/savePaymentDetails', this.payment)
      this.checkConnection({ online: typeof navigator !== 'undefined' ? navigator.onLine : true })
      if (this.checkStocks()) {
        this.$store.dispatch('checkout/placeOrder', { order: this.prepareOrder() })
      } else {
        this.notifyNotAvailable()
      }
    },
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss">
#checkout {
  input, select {
    color: inherit;
  }
}
.line {
  &::after{
    content: '';
    position:absolute;
    top: 0;
    left: 17px;
    height: 100%;
    width: 1px;
    background: #ddd;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.radioStyled{
  input:checked ~ .checkmark:after {
    opacity: 1;
  }
}
</style>
