<template>
  <div id="cms-page">
    <div class="container">
      <breadcrumbs :with-homepage="true" :routes="[]" :active-route="pageTitle" />
    </div>
    <div class="container" v-html="cmsPageContent.content" />
  </div>
</template>

<script>
import CmsPage from '@vue-storefront/core/pages/CmsPage'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import config from 'config'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode';
import { isServer } from '@vue-storefront/core/helpers'
export default {
  components: {
    Breadcrumbs
  },
  metaInfo () {
    return {
      title: htmlDecode(this.$route.meta.title || this.pageTitle),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(this.pageDescription) },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(this.pageKeywords) },
        { vmid: 'title', name: 'title', content: htmlDecode(this.$route.meta.title || this.pageTitle) }
      ],
      script: [
        { src: this.$route.path === '/professional-discounts' || this.$route.path === '/free-kitchen-design' ? 'https://paperform.co/__embed' : '' }
      ]
    }
  },
  computed: {
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    },
    pageTitle () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_title || this.$store.state.cmsPage.current.title : ''
    },
    pageDescription () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_description : ''
    },
    pageKeywords () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.meta_keywords : ''
    }
  },
  methods: {
    handleClick (e) {
      const accordionItemAll = document.querySelectorAll('.am-item');
      accordionItemAll && accordionItemAll.length > 0 && accordionItemAll.forEach((item, index) => {
        item.classList.remove('active');
      });
      e.currentTarget.parentElement.classList.add('active');
    },
    openAccordion () {
      const accordionItemAll = document.querySelectorAll('.am-item');
      accordionItemAll.forEach(item => {
        item.getElementsByClassName('am-title')[0].addEventListener('click', this.handleClick)
      });
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (!isServer) {
        this.openAccordion()
      }
    })
  },
  mixins: [CmsPage]
}
</script>
