<template>
  <div class="compare-page pb-40 md:pb-80">
    <div class="container">
      <breadcrumbs :with-homepage="true" :routes="[]" active-route="Compare" />
      <div class="compare__products-table" v-if="items.length">
        <div class="modal-category-button mb-40">
          <button class="button-full w-auto text-base px-20 mr-10 md:mr-18 mt-10" @click="autoPrint()">
            {{ 'Print' }}
          </button>
          <button class="button-outline text-base px-20 mr-10 mt-10 md:mr-18 border-gray-200">
            {{ 'Save as PDF' }}
          </button>
          <button class="button-outline text-base px-20 mt-10 border-gray-200">
            {{ 'Open as PDF' }}
          </button>
          <router-link :to="localizedRoute('/')" class="border border-gray-500 h-45 mt-20 text-sm flex justify-center md:hidden items-center text-gray-200">
            <svg class="mr-9" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 5.91058H10.4516" stroke="#222222" />
              <path d="M5.22656 0.448486L5.22656 11.3723" stroke="#222222" />
            </svg>
            {{ 'Add More Product Compare' }}
          </router-link>
        </div>
        <div class="overflow-auto custom-scrollbar relative border-b md:border-b-0 border-gray-500" id="compare-section">
          <div class="compare-attribute-list mb-60 compare-attribute-list-title border-gray-500 flex">
            <div class="compare-left-title bg-gray-100 border border-r-0  border-gray-500 leading-19 p-15 md:p-10 truncate flex items-center">
              <span class="block md:hidden m-auto">{{ 'Product Details' }}</span>
              <router-link :to="localizedRoute('/')" class="hidden md:flex items-center text-gray-200">
                <svg class="mr-9" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 5.91058H10.4516" stroke="#222222" />
                  <path d="M5.22656 0.448486L5.22656 11.3723" stroke="#222222" />
                </svg>
                {{ 'Add More Product Compare' }}
              </router-link>
            </div>
            <div class="w-1/5 compare-item-tile relative border border-r-0 last:border-r border-gray-500" v-for="(product, index) in items" :key="index">
              <product-tile class="col-md-12 collection-product" :product="product" :iswishlist="false" />
            </div>
          </div>
          <div class="compare-attribute-list compare-attribute-list-title border-gray-500 flex">
            <div class="compare-left-title border border-r-0 border-gray-500 leading-19 py-10 px-10 md:p-20 md:truncate bg-gray-100 text-center md:text-left flex items-center md:block">
              {{ 'Descriptions' }}
            </div>
            <div class="w-1/5 p-10 md:p-20 compare-item-tile relative border border-r-0 last:border-r border-gray-500" v-for="(product, index) in items" :key="index">
              <div v-if="product.description" v-html="product.description" />
              <div v-else>
                {{ 'No description found' }}
              </div>
            </div>
          </div>
          <div class="compare-attribute-list compare-attribute-list-title border-gray-500 flex" v-if="all_comparable_attributes.length > 0">
            <div class="compare-left-title border border-r-0 border-gray-500 leading-19 py-10 px-10 md:p-20 md:truncate bg-gray-100 text-center md:text-left flex items-center md:block" v-for="(attr, index) in all_comparable_attributes" :key="index">
              {{ attr.default_frontend_label }}
            </div>
            <div class="w-1/5 p-10 md:p-20 compare-item-tile relative border border-r-0 last:border-r border-gray-500" v-for="(product, index) in items" :key="index">
              <ul class="compare__features-list">
                <li
                  v-for="(attr, attIndex) in all_comparable_attributes"
                  :key="attIndex"
                  class="compare__features-item"
                >
                  <product-attribute
                    :key="attr.attribute_code"
                    :product="product"
                    :attribute="attr"
                    empty-placeholder="N/A"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <h4 class="text-16 md:text-18">
          {{ $t('You have no items to compare.') }}
        </h4>
      </div>
    </div>
  </div>
</template>

<script>
import Compare from '@vue-storefront/core/pages/Compare'
import Breadcrumbs from '../components/core/Breadcrumbs'
import ProductTile from '../components/core/ProductTile'
import ProductAttribute from '../components/core/blocks/Compare/ProductAttribute'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    Breadcrumbs,
    ProductTile,
    ProductAttribute
  },
  mixins: [Compare],
  props: {
    title: {
      type: String,
      required: true
    }
  },
  methods: {
    autoPrint () {
      window.print();
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.title || i18n.t('Compare Products'),
      meta: this.$route.meta.description
        ? [{ vmid: 'description', description: this.$route.meta.description }]
        : []
    }
  }
}
</script>

<style lang="scss">
.compare-page {
  min-height: 300px;
  .compare-item-tile {
    min-width: 250px;
    @media (max-width: 767px) {
      min-width: 150px;
    }
  }
  .compare-left-title {
    min-width: 240px;
    @media (max-width: 767px) {
      min-width: 140px;
    }
  }
}
</style>
