<template>
  <section class="contact-section">
    <div class="container">
      <breadcrumbs
        active-route="Disclaimer"
      />
      <div name="termly-embed" data-id="a4194d25-0861-44f1-a321-01810d472666" data-type="iframe" />
    </div>
  </section>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'

export default {
  name: 'Disclaimer',
  components: {
    Breadcrumbs
  },
  metaInfo () {
    return {
      title: 'Disclaimer',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Disclaimer' }] : []
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.injectCookieData(document, 'script', 'termly-jssdk');
    });
  },
  methods: {
    injectCookieData (d, s, id) {
      var js;
      var tjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://app.termly.io/embed-policy.min.js';
      tjs.parentNode.insertBefore(js, tjs);
    }
  }
}
</script>
