<template>
  <div class="container cabinets-design-ideas">
    <breadcrumbs
      :with-homepage="true"
      :routes="[]"
      active-route="Kitchen Cabinets Design Ideas"
      class="leading-18"
    />
    <div class="filters-top flex flex-wrap bg-gray-300 px-20 pt-13 pb-3 mb-20 md:mb-30">
      <div @click="setFilter('All')" :class="{ 'bg-gray-200 text-white border-gray-200': currentFilter === 'All' }" class="filter-item relative hover:bg-gray-200 hover:text-white hover:border-gray-200 cursor-pointer border border-gray-500 rounded-full text-gray-200 bg-white px-10 py-5 md:py-8 md:px-20 text-14 leading-16 mr-5 md:mr-10 mb-10">
        {{ "All" }}
        <label class="cbp-filter-counter">
          {{ categories.length }}
        </label>
      </div>
      <div v-for="(category, index) in filterCategory" :key="index" @click="setFilter(category)" :class="{ 'bg-gray-200 text-white border-gray-200': currentFilter === category }" class="filter-item relative hover:bg-gray-200 hover:text-white hover:border-gray-200 cursor-pointer border border-gray-500 rounded-full text-gray-200 bg-white px-10 py-5 md:py-8 md:px-20 text-14 leading-16 mr-5 md:mr-10 mb-10">
        {{ category }}
        <label class="cbp-filter-counter">
          {{ getCountCategoryLengths(category) }}
        </label>
      </div>
    </div>
    <div class="filter-grid flex flex-wrap">
      <div class="filter-grid-col w-6/12 md:w-4/12 lg:w-3/12 bg-white border border-l-0 -mb-1 border-gray-500 p-5 md:p-10" v-if="currentFilter === category.title || currentFilter === 'All'" :key="index" v-for="(category, index) in categories">
        <a :href="category.href" target="_blank" class="no-underline relative block overflow-hidden">
          <img
            width="320"
            height="320"
            :src="thumbUrl(category.image)"
            alt="kitchen"
            class="ease-in-out duration-500 w-full h-full"
          >
          <div class="filter-name absolute w-full left-0 bottom-0 z-1 bg-opacity-90 text-center bg-gray-200 py-14 px-20">
            <p class="py-2 text-orange-dark text-14 md:text-16 leading-16 font-medium md:leading-18">
              {{ category.name }}
            </p>
            <p class="py-2 text-white text-12 md:text-14 font-medium leading-16">
              {{ category.title }} Design Idea
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs'

export default {
  name: 'KitchenCabinetsDesignIdeas',
  components: {
    Breadcrumbs
  },
  data () {
    return {
      currentFilter: 'All',
      categories: [
        { title: 'Bathroom', image: 'Design-Idea-Double-Vanity-with-Linen-Tower.jpg', name: 'Double Vanity with Linen Tower', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-double-vanity-with-linen-tower/page/1' },
        { title: 'Bathroom', image: 'Design-Idea-Vanity-with-Staggered-Depth.jpg', name: 'Vanity with Staggered Depth', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-vanity-with-staggered-depth/page/1' },
        { title: 'Bathroom', image: 'Design-Idea_Double_Vanity_with_Center_Tower.jpg', name: 'Double Vanity with Center Tower', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-double-vanity-with-center-tower/page/1' },
        { title: 'Bar', image: 'Design-Idea-Wet-Bar.jpg', name: 'Wet Bar with Staggered Height Cabinetry', href: 'https://view.publitas.com/bestonlinecabinets/design_idea_wet_bar/page/1' },
        { title: 'Bar', image: 'Design-Idea-Wet-Bar-with-Staggered-Depth-Wall-Cabinets.jpg', name: 'Wet Bar with Staggered Depth Wall Cabinets', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-wet-bar-with-staggered-depth-wall-cabinets/page/1' },
        { title: 'Bar', image: 'Design-Idea_European_Style_Wet_Bar.jpg', name: 'European Style Wet Bar', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-european-style-wet-bar/page/1' },
        { title: 'Bar', image: 'Design_Idea_European_Style_Wet_Bar_U_Shaped.jpg', name: 'European Style Wet Bar U-Shaped', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-european-style-wet-bar-u-shaped/page/1' },
        { title: 'Island', image: 'Design-Idea-Island-with-Bookshelf.jpg', name: 'Kitchen Island with Bookshelf', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-bookshelf/page/1' },
        { title: 'Island', image: 'Design-Ideas-Two-Tier-Island.jpg', name: 'Two Tier Island', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-two-tier-island/page/1' },
        { title: 'Island', image: 'Design-Idea-Island-with-Apron-Sink.jpg', name: 'Island with Apron Sink', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-apron-sink/page/1' },
        { title: 'Island', image: 'Design-Idea-Island-with-Microwave.jpg', name: 'Island with Microwave', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-microwave/page/1' },
        { title: 'Island', image: 'Design-Idea-Island-with-Food-Station.jpg', name: 'Island with Food Station', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-food-station/page/1' },
        { title: 'Kitchen', image: 'Design-Idea-Island-with-Bookshelf.jpg', name: 'Kitchen Island with Bookshelf', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-bookshelf/page/1' },
        { title: 'Kitchen', image: 'Design-Idea-Studio-Kitchen.jpg', name: 'Studio Kitchen', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-studio-kitchen/page/1' },
        { title: 'Kitchen', image: 'Design-Idea-Island-with-Apron-Sink.jpg', name: 'Island with Apron Sink', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-apron-sink/page/1' },
        { title: 'Kitchen', image: 'Design-Ideas-Two-Tier-Island.jpg', name: 'Two Tier Island', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-two-tier-island/page/1' },
        { title: 'Kitchen', image: 'Design-Idea-Staggered-Depth-Kitchen-Cabinet.jpg', name: 'Staggered Depth Kitchen Cabinet', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-staggered-depth-kitchen-cabinet/page/1' },
        { title: 'Kitchen', image: 'Design-Idea-Island-with-Microwave.jpg', name: 'Island with Microwave', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-microwave/page/1' },
        { title: 'Kitchen', image: 'Design-Idea-Island-with-Food-Station.jpg', name: 'Island with Food Station', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-food-station/page/1' },
        { title: 'Kitchen', image: 'Design_Idea_Kitchen_Island_with_Wine_Rack.jpg', name: 'Kitchen Island with Wine Rack', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-kitchen-island-with-wine-rack/page/1' },
        { title: 'Kitchen', image: 'Design-Idea_Studio_kitchen_L-Shaped.jpg', name: 'Studio Kitchen - L-Shaped', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-studio-kitchen-l-shaped/page/1' },
        { title: 'Laudry Room', image: 'Design-Idea-Small-Laundry-and-Sink-Combo.jpg', name: 'Small Laundry and Sink Comb', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-small-laundry-and-sink-combo/page/1' },
        { title: 'Laudry Room', image: 'Design-Idea_Laundry_with_Stacked_Wahser_Dryer.jpg', name: 'Laundry with Stacked Washer Dryer', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-laundry-with-stacked-washer-dryer/page/1' },
        { title: 'Laudry Room', image: 'Design-Idea_Laundry_L_Shaped.jpg', name: 'Laundry L-Shaped', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-laundry-l-shaped/page/1' },
        { title: 'Laudry Room', image: 'Design-Idea_Mudroom_with_Laundry.jpg', name: 'Mudroom with Laundry', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-laundry/page/1' },
        { title: 'Living Room', image: 'Design-Idea-Euro-TV-wall.jpg', name: 'Euro TV Wall', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-euro-tv-wall/page/1' },
        { title: 'Living Room', image: 'Design_Idea_Living_Room_Entertainment_Center.jpg', name: 'Living Room Entertainment Center', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-living-room-entertainment-center/page/1' },
        { title: 'Mudroom', image: 'Design-Idea-Mudroom-with-Food-Station.jpg', name: 'Mudroom with Food Station', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-food-station/page/1' },
        { title: 'Mudroom', image: 'Design-Idea-Mudroom-with-Coat-Rack.jpg', name: 'Mudroom with Coat Rack', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-coat-rack/page/1' },
        { title: 'Mudroom', image: 'Design-Idea_Mudroom_with_Laundry.jpg', name: 'Mudroom with Laundry', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-laundry/page/1' },
        { title: 'Mudroom', image: 'Design_Idea_Mudroom_with_varied_depth.jpg', name: 'Mudroom with Varied Depth', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-varied-depth/page/1' },
        { title: 'Storage', image: 'Design-Idea-Island-with-Bookshelf.jpg', name: 'Kitchen Island with Bookshelf', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-island-with-bookshelf/page/1' },
        { title: 'Storage', image: 'Design-Idea-Double-Vanity-with-Linen-Tower.jpg', name: 'Double Vanity with Linen Tower', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-double-vanity-with-linen-tower/page/1' },
        { title: 'Storage', image: 'Design-Idea-Mudroom-with-Coat-Rack.jpg', name: 'Mudroom with Coat Rack', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-coat-rack/page/1' },
        { title: 'Storage', image: 'Design-Idea-Mudroom-with-Food-Station.jpg', name: 'Mudroom with Food Station', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-food-station/page/1' },
        { title: 'Storage', image: 'Design-Idea-Small-Laundry-and-Sink-Combo.jpg', name: 'Small Laundry and Sink Comb', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-small-laundry-and-sink-combo/page/1' },
        { title: 'Studios', image: 'Design-Idea-Studio-Kitchen.jpg', name: 'Studio Kitchen', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-studio-kitchen/page/1' },
        { title: 'Studios', image: 'Design-Idea_Studio_kitchen_L-Shaped.jpg', name: 'Studio Kitchen - L-Shaped', href: 'https://view.publitas.com/bestonlinecabinets/design-idea-studio-kitchen-l-shaped/page/1' }
      ]
    }
  },
  computed: {
    filterCategory () {
      const unique = [...new Set(this.categories.map(item => item.title))];
      return unique
    }
  },
  methods: {
    setFilter (filter) {
      this.currentFilter = filter;
    },
    getCountCategoryLengths (category) {
      const uniqueLength = this.categories.filter(item => item.title === category);
      return uniqueLength.length
    },
    thumbUrl (filename) {
      return require(`../assets/design-ideas/${filename}`);
    }
  },
  metaInfo () {
    return {
      title: 'Kitchen Cabinet Design Ideas - Pictures, Ideas and More',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Kitchen Cabinet Design Ideas - Pictures, Ideas and More' }] : []
    }
  }
}
</script>
