<template>
  <div class="container">
    <breadcrumbs
      :with-homepage="true"
      :routes="[]"
      active-route="Testimonials"
      class="leading-18"
    />
    <div class="trustpilot-widget pb-20 md:pb-30 text-center" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="55b5cc680000ff0005817336" data-style-height="24px" data-style-width="100%" data-theme="light">
      <a href="https://www.trustpilot.com/review/bestonlinecabinets.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <div class="flex flex-wrap -mx-10" v-if="getCountTestimonials > 0">
      <div v-for="(testimonial, index) in itemsPerPage" :key="index" class="w-full md:w-6/12 lg:w-4/12 p-10 testimonial-row">
        <testimonial-tile :testimonial="testimonial" class="p-20 bg-gray-100 h-full" />
      </div>
    </div>
    <div v-else class="flex flex-wrap -mx-10">
      <div class="w-full md:w-6/12 lg:w-4/12 p-10 testimonial-row" v-for="item in 6 " :key="item">
        <div class="skeleton-image relative" />
      </div>
    </div>
    <div class="flex justify-center items-center pt-30 pb-50 flex-wrap border-t mt-30 border-gray-500" v-if="pageCount > 1">
      <a href="#" class="mr-30" :class="{ 'opacity-50 pointer-events-none': currentPage === 1, }" @click.prevent="prevPage">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 1L1 7L7 13" stroke="#222222" />
        </svg>
      </a>
      <div class="flex flex-wrap">
        <span class="pagination-page" v-for="pageNumber in pageList" :key="pageNumber">
          <span class="w-40 h-40 flex items-center justify-center font-medium text-base leading-21 border border-gray-200 active rounded" v-if="pageNumber === currentPage">
            {{ pageNumber }}
          </span>
          <a href="#" class="w-40 h-40 flex items-center justify-center font-medium text-base leading-21 border-gray-200 rounded" v-else @click.prevent="changePage(pageNumber)">
            {{ pageNumber }}
          </a>
        </span>
      </div>
      <a href="#" class="ml-30" :class="{ 'opacity-50 pointer-events-none': currentPage === pageCount }" @click.prevent="nextPage">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7 7L1 13" stroke="#222222" />
        </svg>
      </a>
    </div>
    <div class="h5 py-50 text-16 text-gray text-center" v-if="!itemsPerPage || itemsPerPage.length === 0">
      {{ $t('No reviews have been posted yet. Please don\'t hesitate to share Your opinion and write the first review!') }}
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '../components/core/Breadcrumbs'
import { mapGetters } from 'vuex'
import TestimonialTile from 'src/modules/bocm/testimonials/components/TestimonialTile.vue'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { TestimonialsModule } from 'src/modules/bocm/testimonials'

export default {
  name: 'Testimonials',
  components: {
    Breadcrumbs,
    TestimonialTile
  },
  metaInfo () {
    return {
      title: 'Customer Reviews &amp; Testimonials - Best Online Cabinets',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Customer Reviews &amp; Testimonials - Best Online Cabinets' }] : [],
      script: [{ rel: 'dns-prefetch', src: '//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js', async: true, type: 'text/javascript' }]
    }
  },
  data () {
    return {
      currentPage: 1,
      perPage: 12
    }
  },
  beforeCreate () {
    registerModule(TestimonialsModule)
  },
  computed: {
    ...mapGetters({
      getTestimonialsList: 'testimonials/getTestimonialsList'
    }),
    getCountTestimonials () {
      return this.getTestimonialsList ? this.getTestimonialsList.length : 0;
    },
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.getTestimonialsList.slice(start, end);
    },
    pageCount () {
      return Math.floor(this.getCountTestimonials / this.perPage) + Math.min(1, this.getCountTestimonials % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    }
  },
  async created () {
    await this.$store.dispatch('testimonials/list', { filterField: 'status', filterValues: 2 });
  },
  methods: {
    prevPage () {
      this.currentPage = Math.max(1, this.currentPage - 1)
      window.scrollTo(0, 0);
    },
    nextPage () {
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
      window.scrollTo(0, 0);
    },
    changePage (pageNumber) {
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
      window.scrollTo(0, 0);
    }
  }
}
</script>
