<template>
  <div class="summary-sidebar h-full flex flex-col">
    <div class="p-30 summary-sidebar-content">
      <h3 class="m-0 mb-10 text-24 font-medium text-gray-200">
        {{ $t('Order Summary') }}
      </h3>
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
    </div>
    <div v-if="productsInCart && productsInCart.length" class="checkout p-15 md:p-30 mt-auto bg-gray-100">
      <div v-for="(segment, index) in totals" :key="index" class="flex pb-10 md:pb-20 justify-between  text-base" v-if="segment.code !== 'grand_total'">
        <div class="pr-15">
          {{ segment.title }}
        </div>
        <div v-if="segment.value != null">
          {{ segment.value | price(storeView) }}
        </div>
      </div>

      <div class="flex justify-between font-medium border-t pt-10 md:pt-20 border-gray-500 text-16 md:text-18" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
        <div class="pr-15">
          {{ segment.title }}
        </div>
        <div>
          {{ segment.value | price(storeView) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  mixins: [CartSummary]
}
</script>
