<template>
  <modal name="modal-order-confirmation" :width="640">
    <p slot="header">
      {{ $t('Confirm your order') }}
    </p>
    <div slot="content">
      <p>{{ $t('Please confirm order you placed when you was offline') }}</p>
      <div class="mb40" v-for="(order, key) in ordersData" :key="key">
        <h3>{{ $t('Order #{id}', { id: key + 1}) }}</h3>
        <h4>{{ $t('Items ordered') }}</h4>
        <table class="brdr-1 brdr-cl-bg-secondary">
          <thead>
            <tr>
              <th class="serif lh20">
                {{ $t('Product Name') }}
              </th>
              <th class="serif lh20">
                {{ $t('Price') }}
              </th>
              <th class="serif lh20">
                {{ $t('Qty') }}
              </th>
              <th class="serif lh20">
                {{ $t('Subtotal') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-bg-secondary" v-for="(product, productKey) in order.products" :key="productKey">
              <td class="fs-medium lh25" :data-th="$t('Product Name')">
                {{ product.name }}
                <span class="block mt5 lh16 fs-medium-small" v-for="(option, optionKey) in product.options" :key="optionKey">
                  <strong>{{ option.label }}: </strong> {{ option.value }}
                </span>
              </td>
              <td class="fs-medium lh25" :data-th="$t('Price')">
                {{ product.price_incl_tax | price(storeView) }}
              </td>
              <td class="fs-medium lh25 align-right" :data-th="$t('Qty')">
                {{ product.qty }}
              </td>
              <td class="fs-medium lh25" :data-th="$t('Subtotal')">
                {{ product.price_incl_tax * product.qty | price(storeView) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row between-xs middle-xs mt40">
        <div class="col-xs-12 col-sm-6 cancel-order">
          <a href="#" @click.prevent="cancelOrders()">{{ $t('Cancel') }}</a>
        </div>
        <div class="col-xs-12 col-sm-6">
          <button-full @click.native="confirmOrders()">
            {{ $t('Confirm your order') }}
          </button-full>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import { ConfirmOrders } from '@vue-storefront/core/modules/offline-order/components/ConfirmOrders'
import { CancelOrders } from '@vue-storefront/core/modules/offline-order/components/CancelOrders'
import Modal from 'theme/components/core/Modal'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  props: {
    ordersData: {
      required: false,
      type: Array,
      default: () => []
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$bus.$emit('modal-show', 'modal-order-confirmation')
    })
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    confirmOrders () {
      ConfirmOrders.methods.confirmOrders.call(this)
      this.$bus.$emit('modal-hide', 'modal-order-confirmation')
    },
    cancelOrders () {
      CancelOrders.methods.cancelOrders.call(this)
      this.$bus.$emit('modal-hide', 'modal-order-confirmation')
    }
  },
  components: {
    Modal,
    ButtonFull
  },
  mixins: [ ConfirmOrders, CancelOrders ]
}
</script>
