<template>
  <div class="personal-details">
    <div class="flex">
      <div class="w-30 h-30 md:h-35 md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-30 h-30 md:w-35 md:h-35 leading-30 md:leading-35 text-sm md:text-base rounded-full text-center text-white font-bold"
          :class="{ 'bg-gray-200' : isActive || isFilled, 'bg-gray-600' : !isFilled && !isActive }"
        >
          1
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="flex items-center mb-25 md:mb-30 justify-between pl-35 md:pl-0">
          <h3 class="m-0 leading-normal text-16 md:text-18 text-gray-200 pl-5 md:pl-0 pt-6 md:pt-8" :class="{ 'text-gray-600' : !isFilled && !isActive }">
            {{ $t('Personal Information') }}
          </h3>
          <a href="#" class="flex md:ml-30 text-gray-200" @click.prevent="edit" v-if="isFilled && !isActive">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.64157 18.0621C5.46792 18.2357 5.23241 18.3333 4.98684 18.3333H2.59259C2.08122 18.3333 1.66667 17.9187 1.66667 17.4074V15.0131C1.66667 14.7675 1.76422 14.532 1.93787 14.3584L13.9749 2.32135C14.3365 1.95976 14.9228 1.95976 15.2844 2.32135L17.6786 4.7156C18.0402 5.0772 18.0402 5.66346 17.6786 6.02506L5.64157 18.0621Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M12.5002 4.16675L15.8335 7.50008" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span class="pl-5">
              {{ $t('Edit') }}
            </span>
          </a>
        </div>
        <div class="flex flex-wrap" v-if="isActive">
          <base-input
            class="w-6/12 md:w-6/12 mb-20 pr-10"
            type="text"
            :autofocus="true"
            :label="false"
            name="first-name"
            :placeholder="$t('First Name *')"
            v-model.trim="personalDetails.firstName"
            @blur="$v.personalDetails.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.personalDetails.firstName.$error && !$v.personalDetails.firstName.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.personalDetails.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="w-6/12 md:w-6/12 mb-20 pl-10"
            type="text"
            :label="false"
            name="last-name"
            :placeholder="$t('Last Name *')"
            v-model.trim="personalDetails.lastName"
            @blur="$v.personalDetails.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.personalDetails.lastName.$error && !$v.personalDetails.lastName.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full mb-20"
            type="email"
            name="email-address"
            :label="false"
            :placeholder="$t('Email Address *')"
            v-model="personalDetails.emailAddress"
            @blur="$v.personalDetails.emailAddress.$touch()"
            autocomplete="email"
            @keyup.enter="sendDataToCheckout"
            :validations="[
              {
                condition: $v.personalDetails.emailAddress.$error && !$v.personalDetails.emailAddress.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.personalDetails.emailAddress.email && $v.personalDetails.emailAddress.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />

          <base-checkbox
            v-if="!currentUser"
            class="w-full mb-25"
            id="createAccountCheckbox"
            v-model="createAccount"
          >
            {{ $t('I want to create an account') }}
          </base-checkbox>

          <template v-if="createAccount && !currentUser">
            <base-input
              class="w-full mb-20"
              type="password"
              name="password"
              ref="password"
              :label="false"
              :placeholder="$t('Password *')"
              v-model="password"
              @blur="$v.password.$touch()"
              autocomplete="new-password"
              :validations="[{
                condition: $v.password.$error && !$v.password.required,
                text: $t('Field is required.')
              }]"
            />

            <base-input
              class="w-full mb-20"
              type="password"
              name="password-confirm"
              :label="false"
              :placeholder="$t('Repeat Password *')"
              v-model="rPassword"
              autocomplete="new-password"
              :validations="[
                {
                  condition: $v.rPassword.$error && !$v.rPassword.required,
                  text: $t('Field is required.')
                },
                {
                  condition:!$v.rPassword.sameAsPassword,
                  text: $t('Passwords must be identical.')
                }
              ]"
            />

            <base-checkbox
              class="col-xs-12 mb-20 text-base text-gray-200"
              id="acceptConditions"
              @blur="$v.acceptConditions.$touch()"
              v-model="acceptConditions"
              :validations="[{
                condition: !$v.acceptConditions.sameAs && $v.acceptConditions.$error,
                text: $t('You must accept the terms and conditions.')
              }]"
            >
              <router-link :to="localizedRoute('/terms-of-use')" :title="$t('Terms of Use Page')">
                <span
                  class="link pointer"
                >
                  {{ $t('I accept Terms and conditions') }}
                </span>*
              </router-link>
            </base-checkbox>
          </template>
        </div>
        <div class="md:flex mb-20 md:mb-30 items-center pb-20 border-b border-gray-500 md:border-0 md:mb-15 mb-20" v-show="isActive">
          <div class="w-full md:w-6/12 md:pr-20 button-container">
            <button-full
              data-testid="personalDetailsSubmit"
              @click.native="sendDataToCheckout"
              :disabled="createAccount ? $v.$invalid : $v.personalDetails.$invalid"
            >
              {{ $t((isVirtualCart ? 'Continue to Payment' : 'Continue to Shipping Address')) }}
            </button-full>
          </div>
          <div
            class="w-full md:w-5/12 text-center md:text-left pt-10 md:pt-0"
            v-if="!currentUser"
          >
            <p class="text-gray-600 text-md p-0 text-base">
              {{ $t('or') }}
              <span
                class="text-gray-200 hover:text-black underline cursor-pointer pl-15"
                @click.prevent="gotoAccount"
              >
                {{ $t('Login to your account') }}
              </span>
            </p>
          </div>
        </div>
        <div class="editmode mb-20 md:mb-35 text-16 text-gray-200 font-medium border-b border-gray-500 md:border-0 pb-20 md:pb-0" v-if="!isActive && isFilled">
          <p>
            {{ personalDetails.firstName }} {{ personalDetails.lastName }}
          </p>
          <div class="flex">
            <span class="pr-10">{{ personalDetails.emailAddress }}</span>
          </div>
          <template v-if="createAccount && !currentUser">
            <base-checkbox
              class="mt25"
              id="createAccountCheckboxInfo"
              v-model="createAccount"
              disabled
            >
              {{ $t('Create a new account') }}
            </base-checkbox>
            <p>
              {{ $t('The new account will be created with the purchase. You will receive details on e-mail.') }}
            </p>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import { PersonalDetails } from '@vue-storefront/core/modules/checkout/components/PersonalDetails'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ButtonFull from 'theme/components/theme/ButtonFull'

export default {
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  },
  mixins: [PersonalDetails],
  validations: {
    personalDetails: {
      firstName: {
        required,
        minLength: minLength(2)
      },
      lastName: {
        required
      },
      emailAddress: {
        required,
        email
      }
    },
    password: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    acceptConditions: {
      sameAs: sameAs(() => true)
    }
  }
}
</script>
