<template>
  <section class="main-slider w-full bg-cl-th-accent cl-white">
    <no-ssr>
      <carousel :per-page="1" pagination-active-color="#ffffff" pagination-color="#e0e0e0">
        <slide v-for="(slide, index) in slides" :key="index">
          <div class="w-full bg-cover" v-lazy:background-image="slide.image">
            <div class="row flex items-center justify-center text-center">
              <div class="col-md-12 px10p">
                <p
                  class="mb0 uppercase align-center"
                  data-testid="mainSliderSubtitle"
                >
                  {{ slide.subtitle }}
                </p>
                <h1 class="text-60 mt0 mb30 align-center" data-testid="mainSliderTitle">
                  {{ slide.title }}
                </h1>
                <div class="align-center inline-flex">
                  <button-outline :link="slide.link" color="light">
                    {{ slide.button_text }}
                  </button-outline>
                </div>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import sliderData from 'theme/resource/slider.json'
import ButtonOutline from 'theme/components/theme/ButtonOutline'

export default {
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1
    }
  },
  components: {
    ButtonOutline,
    'Carousel': () => import(/* webpackChunkName: "vue-carousel" */ 'vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import(/* webpackChunkName: "vue-carousel" */ 'vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  methods: {
    updateSliderData (data) {
      this.slides = data.slides
      this.totalSlides = data.total
    }
  },
  mounted () {
    setInterval(() => {
      this.currentSlide = (this.currentSlide + 1) % (this.totalSlides)
    }, 5000)
  },
  created () {
    this.updateSliderData(sliderData)
  }
}
</script>
