<template>
  <div>
    <div class="review-list-wrap review-list">
      <div class="product-reviews-summary short text-center">
        <div class="flex items-center justify-center">
          <span class="text-22 md:text-30 text-black font-medium mr-20 leading-24 md:leading-30 mt-4 md:mt-0">{{ filledStarStyle }}</span>
          <div class="rating-summary">
            <span class="rating-result" :style="`width: ${filledColorStarStyle}%`" />
          </div>
        </div>
        <span class="block mt-10 leading-21 text-base text-gray-700">{{ productReviewCount + ' Reviews' }}</span>
        <h4 class="mt-30 mb-10 leading-24 md:leading-32 text-18 md:text-lg font-medium">
          {{ 'Please, Give us your opinion' }}
        </h4>
        <p class="text-gray-600 text-base leading-21 pb-0">
          your real opinion about this product is useful to other people.
        </p>
        <button class="button-outline my-20 md:my-40 mx-auto border-gray-200 flex items-center justify-center min-w-0 px-34 py-12 md:py-16 group" @click.prevent="scrollToReviewsForm()">
          <svg class="mr-11" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="group-hover:stroke-current group-hover:text-white" d="M4.9749 17.3955C4.80126 17.5691 4.56574 17.6667 4.32017 17.6667H1.92593C1.41455 17.6667 1 17.2521 1 16.7407V14.3465C1 14.1009 1.09755 13.8654 1.2712 13.6918L13.3082 1.65473C13.6698 1.29313 14.2561 1.29313 14.6177 1.65473L17.0119 4.04897C17.3735 4.41057 17.3735 4.99684 17.0119 5.35843L4.9749 17.3955Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
            <path class="group-hover:stroke-current group-hover:text-white" d="M1.8335 13.5L5.16683 16.8333" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          {{ 'Write a review' }}
        </button>
      </div>
      <div class="review-list border-t border-gray-500 last:border-b relative py-20 md:py-30" v-for="(item, index) in itemsPerPage" :key="index">
        <div class="font-medium text-gray-600 mb-3 leading-21">
          {{ item.nickname }}
        </div>
        <div class="rating-summary" v-if="item.ratings.length > 0">
          <span class="rating-result" :style="'width:'+item.ratings[0].percent+'%'" />
        </div>
        <div class="review-auther mb10">
          <h4 class="text-gray-200 leading-24 text-16 md:text-18 mt-15 mb-8">
            {{ item.title }}
          </h4>
          <p class="static md:absolute right-0 top-30 text-base text-gray-200">
            {{ item.created_at | date(null, storeView) }}
          </p>
          <p class="pb-0 text-sm leading-22 text-gray-600 review-description">
            {{ item.detail }}
          </p>
        </div>
        <div class="review-images" v-if="item.images && item.images !== '' && JSON.parse(item.images) !== 'null'">
          <div>
            <ul class="imageGallery">
              <li v-for="(img, imgIndex) in JSON.parse(item.images)" :key="imgIndex">
                <a :href="reviewImgPath(img)" @click="lightboxOpen(item, reviewImgPath(img, 600, 600), imgIndex, $event)" :class="{ active: active == imgIndex }">
                  <img :src="reviewImgPath(img)" alt="">
                </a>
              </li>
            </ul>

            <div id="overlay" @click.self="closeOverlay" @keyup="keyBoardShortcuts(e)">
              <div class="holder">
                <img id="overlay_image">
                <div class="nav">
                  <a id="close" nohref @click="closeOverlay"><span>×</span></a>
                  <a id="prev" nohref @click="cyclePrev"><span>←</span></a>
                  <a id="next" nohref @click="cycleNext"><span>→</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center mt-30 flex-wrap" v-if="pageCount > 1">
      <a href="#" class="mr-30" :class="{ 'opacity-50 pointer-events-none': currentPage === 1, }" @click.prevent="prevPage">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 1L1 7L7 13" stroke="#222222" />
        </svg>
      </a>
      <div class="flex flex-wrap">
        <span class="pagination-page" v-for="pageNumber in pageList" :key="pageNumber">
          <span class="w-40 h-40 flex items-center justify-center font-medium text-base leading-21 border border-gray-200 active rounded" v-if="pageNumber === currentPage">
            {{ pageNumber }}
          </span>
          <a href="#" class="w-40 h-40 flex items-center justify-center font-medium text-base leading-21 border-gray-200 rounded" v-else @click.prevent="changePage(pageNumber)">
            {{ pageNumber }}
          </a>
        </span>
      </div>
      <a href="#" class="ml-30" :class="{ 'opacity-50 pointer-events-none': currentPage === pageCount }" @click.prevent="nextPage">
        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L7 7L1 13" stroke="#222222" />
        </svg>
      </a>
    </div>
    <div class="h5" v-if="!itemsPerPage || itemsPerPage.length === 0">
      {{ $t('No reviews have been posted yet. Please don\'t hesitate to share Your opinion and write the first review!') }}
    </div>
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { getThumbnailPath } from '@vue-storefront/core/helpers'
import { ProductReviewLabel } from 'src/modules/bocm/review-ratings/components/ProductReviewLabel.js'
import { AlReviews } from 'src/modules/bocm/review-ratings/components/AlReviews.js'

import map from 'lodash-es/map'
import meanBy from 'lodash-es/meanBy'
import sumBy from 'lodash-es/sumBy'

export default {
  mixins: [ProductReviewLabel, AlReviews],
  props: {
    perPage: {
      type: Number,
      required: true,
      default: 4
    },
    items: {
      type: Array,
      default: () => []
    },
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      currentPage: 1,
      loop: 1,
      allowKeyboard: 1,
      imageIndex: 0,
      active: 0,
      images: [],
      filledColorStyle: 0
    }
  },
  computed: {
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.items.slice(start, end).filter(review => !!review.review_status)
    },
    pageCount () {
      return Math.floor(this.items.length / this.perPage) + Math.min(1, this.items.length % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    },
    storeView () {
      return currentStoreView()
    },
    filledStarStyle () {
      let ratings = 0;
      if (this.reviews && this.reviews.length > 0) {
        let getReviews = this.reviews.filter((x) => {
          return x.ratings.length
        })

        ratings = sumBy(map(getReviews, 'ratings'), (rating) => {
          return meanBy(rating, 'value');
        })
        let ratingLength = ratings / getReviews.length
        return ratingLength.toFixed(1);
      }
      return 0;
    },
    productReviewCount () {
      return this.product && this.reviews ? this.reviews.length : 0;
    },
    filledColorStarStyle () {
      let ratingsColorValue = this.filledStarStyle * 100 / 5
      return ratingsColorValue.toFixed(0);
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  },
  methods: {
    prevPage () {
      this.scrollToReviewsList();
      this.currentPage = Math.max(1, this.currentPage - 1)
    },
    nextPage () {
      this.scrollToReviewsList();
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
    },
    changePage (pageNumber) {
      this.scrollToReviewsList();
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
    },
    reviewImgPath (image, width = 300, height = 300) {
      return getThumbnailPath('/' + image, width, height, 'review')
    },
    scrollToReviewsList () {
      const headerOffset = document.querySelector('.header').clientHeight;
      const offsetTop = document.querySelector('.review-list').offsetTop;
      const offset = offsetTop - headerOffset;
      scroll({
        top: offset,
        behavior: 'smooth'
      });
    },
    scrollToReviewsForm () {
      if (!this.isLoggedIn) {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      } else {
        const headerOffset = document.querySelector('.header').clientHeight;
        const offsetTop = document.querySelector('.review-form').offsetTop;
        const offset = offsetTop - headerOffset;
        scroll({
          top: offset,
          behavior: 'smooth'
        });
      }
    },

    /* review image gallary popup */
    lightboxOpen (item, href, index, event) {
      event.preventDefault();
      document.getElementById('overlay_image').src = href;
      this.allowKeyboard = 1;
      document.getElementById('overlay').style.display = 'block';
      this.imageIndex = index;
      this.active = index;
      this.images = item.images.split(',');
    },
    closeOverlay () {
      document.getElementById('overlay').style.display = 'none';
      this.allowKeyboard = 0;
      this.images = [];
    },
    cycleNext () {
      if (this.images.length !== this.imageIndex + 1) {
        var nextActiveImage = document.querySelector('.active').parentElement.nextSibling.querySelector('img');
        nextActiveImage.click();
      } else if (this.loop === 1) {
        var firstActiveImage = document.querySelector('.imageGallery').querySelector('li').querySelector('img');
        firstActiveImage.click();
      }
    },
    cyclePrev () {
      if (this.imageIndex !== 0) {
        var prevActiveImage = document.querySelector('.active').parentElement.previousSibling.querySelector('img');
        prevActiveImage.click();
      } else if (this.loop === 1) {
        var lastActiveImage = document.querySelector('.imageGallery').querySelectorAll('li')
        var lastChild = lastActiveImage[lastActiveImage.length - 1].querySelector('img');
        lastChild.click();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.review-description {
  max-width: 669px;
}
.review-list-wrap .review-list {
  .rating-summary {
    width: 80px;
    height: 16px;
    background-size: 16px;
    .rating-result {
      background-size: 16px;
      height: 16px;
    }
  }
}
</style>
