<template>
  <div class="review-form m-auto review-form">
    <h2 class="text-center font-medium mt-40 mb-30 text-18">
      {{ $t('Write a Review') }}
    </h2>
    <form id="review_form" action="#" @submit.prevent="outOfScope()">
      <div class="your-rating flex mb-20">
        <label class="text-gray-600">
          {{ $t('Your Rating') }}*
        </label>
        <div class="control review-control-vote">
          <template v-for="(ratingStar, index) in [ 1, 2, 3, 4, 5 ]">
            <input :key="index + '-rating-input'" type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" :id="'Rating_' + ratingStar" :value="ratingStar" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
            <label :key="index + '-rating-label'" :class="'rating-' + ratingStar" :for="'Rating_' + ratingStar" :title="ratingStar + (ratingStar === 1 ? ' star' : ' stars')" :id="'Rating_' + ratingStar + '_label'">
              <span>
                {{ $t(ratingStar + (ratingStar === 1 ? ' star' : ' stars')) }}
              </span>
            </label>
          </template>
        </div>
      </div>
      <div class="block cl-error mb-20" v-if="$v.formData.ratings.$error">
        {{ $t('Please select one of each of the ratings above.') }}
      </div>
      <div class="mb-20">
        <base-input
          type="text"
          :placeholder="'Full Name*'"
          v-model="formData.name"
          :label="false"
          @blur="$v.formData.name.$touch()"
          :validations="[
            {
              condition: $v.formData.name.$error && !$v.formData.name.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.formData.name.minLength,
              text: $t('Name must have at least 2 letters.')
            }
          ]"
        />
      </div>
      <div class="mb-20">
        <base-input
          type="text"
          :label="false"
          :placeholder="'Summary*'"
          v-model="formData.summary"
          @blur="$v.formData.summary.$touch()"
          :validations="[
            {
              condition: $v.formData.summary.$error && !$v.formData.summary.required,
              text: $t('Field is required')
            }
          ]"
        />
      </div>
      <div class="mb-20">
        <base-textarea
          type="text"
          :label="false"
          :placeholder="'Review*'"
          v-model="formData.review"
          @blur="$v.formData.review.$touch()"
          :validations="[
            {
              condition: $v.formData.review.$error && !$v.formData.review.required,
              text: $t('Field is required')
            }
          ]"
        />
      </div>
      <template v-if="formType === ''">
        <div class="mb25">
          <input type="file" accept="image/*" multiple="multiple" name="review_image" @change="reviewImageUpload" class="form-control-file" id="review_images">
        </div>
      </template>
      <div class="terms-checkbox mb-30">
        <base-checkbox
          class="mb10"
          id="acceptTermsCheckbox"
          @blur="$v.formData.terms.$touch()"
          v-model="formData.terms"
          :validations="[{
            condition: !$v.formData.terms.sameAs && $v.formData.terms.$error,
            text: $t('Field is required')
          }]"
        >
          {{ $t('I accept ') }}
          <router-link :to="localizedRoute('/privacy-policy')" exact>
            {{ $t('privacy policy') }}
          </router-link>
          {{ $t('and ') }}
          <router-link :to="localizedRoute('/terms-conditions')" exact>
            {{ $t('terms and conditions') }}
          </router-link> *
        </base-checkbox>
      </div>
      <div class="row m0 middle-xs center-xs start-sm buttons">
        <button-full
          @click.native="validate()"
          :class="{ 'w-auto': !currentUser }"
        >
          {{ 'Add Review' }}
        </button-full>
      </div>
    </form>
  </div>
</template>

<script>
import { AlReviews } from 'src/modules/bocm/review-ratings/components/AlReviews.js'

export default {
  mixins: [AlReviews]
}
</script>
<style lang="scss">
.review-form {
  max-width: 520px;
}
</style>
