<template>
  <div class="product-reviews-summary short">
    <div class="rating-summary flex items-center text-sm leading-14 mr-10">
      <svg class="mr-4" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 0L9.79611 5.52786H15.6085L10.9062 8.94427L12.7023 14.4721L8 11.0557L3.29772 14.4721L5.09383 8.94427L0.391548 5.52786H6.20389L8 0Z" fill="#F18607" />
      </svg>
      <b class="mr-8 text-gray-200" :style="filledStarStyle">
        {{ filledStarStyle }}
      </b>
      <span class="text-gray-600 underline" v-if="isQuickView">  ({{ productReviewCount }} {{ $t ('Reviews') }})</span>
      <a class="text-gray-600 underline cursor-pointer" v-else @click.prevent="scrollToReviewsSection()">  ({{ productReviewCount }} {{ $t ('Reviews') }})</a>
    </div>
  </div>
</template>

<script>
import { ProductReviewLabel } from 'src/modules/bocm/review-ratings/components/ProductReviewLabel.js'
import { AlReviews } from 'src/modules/bocm/review-ratings/components/AlReviews.js'
import map from 'lodash-es/map'
import meanBy from 'lodash-es/meanBy'
import sumBy from 'lodash-es/sumBy'

export default {
  props: {
    isQuickView: {
      type: Boolean,
      required: false
    }
  },
  mixins: [ProductReviewLabel, AlReviews],
  computed: {
    filledStarStyle () {
      let ratings = 0;
      if (this.reviews && this.reviews.length > 0) {
        let getReviews = this.reviews.filter((x) => {
          return x.ratings.length
        })

        ratings = sumBy(map(getReviews, 'ratings'), (rating) => {
          return meanBy(rating, 'value');
        })
        let ratingLength = ratings / getReviews.length
        return ratingLength.toFixed(1);
      }
      return 0;
    },
    productReviewCount () {
      return this.product && this.reviews ? this.reviews.length : 0;
    }
  }
}
</script>
