<template>
  <div class="container">
    <div class="col-6 offset-3">
      <div class="card bg-light">
        <div class="card-body">
          <form id="cardForm">
            <div v-show="paymentMethod === 'braintree'">
              <div>
                <div id='creditCardNumber' class="card-input">
                  <span class='icon-type'></span>
                </div>
              </div>
                <div class="row">
                  <div class="col-6">
                    <div id="expireDate" class="card-input"></div>
                  </div>
                  <div class="col-6">
                    <div id="cvv" class="card-input"></div>
                  </div>
                </div>
            </div>
            <div
              id="paypalButton"
              v-show="paymentMethod === 'braintree_paypal'"
            ></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import braintree from "braintree-web";
import paypal from "paypal-checkout";
import { mapGetters } from 'vuex';
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import config from 'config'
export default {
  data() {
    return {
      nonce: "",
      card: {
        number: false,
        expireDate: false,
        cvv: false
      }
    };
  },
  computed: {
    ...mapGetters({
      totals: 'cart/getTotals',
      payment: 'checkout/getPaymentDetails',
      hostedFieldInstance: 'braintree/getHostedFieldInstance'
    }),
    amount () {
      let amount = this.totals.filter(total => total.code === 'grand_total') || {}
      return amount.length && amount[0].value ? amount[0].value : 0
    }
  },
  props: {
    paymentMethod: {
      type: String,
      required: true,
      default: "braintree",
    },
  },
  async mounted() {
    braintree.client
      .create({
        authorization: config.braintree.authorization,
      })
      .then((clientInstance) => {
        let options = {
          client: clientInstance,
          styles: {
            'input': {
              'font-size': '16px',
              'font-family': 'courier, monospace',
              'font-weight': 'lighter',
              'color': '#ccc'
            },
            ':focus': {
              'color': 'black'
            },
            '.valid': {
              'color': '#8bdda8'
            },
            '.invalid': {
              'color': '#f00'
            }
          },
          fields: {
            number: {
              selector: "#creditCardNumber",
              placeholder: "Enter Credit Card",
            },
            cvv: {
              selector: "#cvv",
              placeholder: "Enter CVV",
            },
            expirationDate: {
              selector: "#expireDate",
              placeholder: "00 / 0000",
            }
          }
        };

        return Promise.all([
          braintree.hostedFields.create(options),
          braintree.paypalCheckout.create({ client: clientInstance }),
        ]);
      })
      .then((instances) => {
        const hostedFieldInstance = instances[0];
        this.$store.commit('braintree/SET_HOSTED_FIELD_INSTANCE', hostedFieldInstance)
        if(this.paymentMethod === 'braintree_paypal') { 
          const paypalCheckoutInstance = instances[1];
          return paypal.Button.render({
            env: config.braintree.env,
            style: {
              label: "paypal",
              size: "responsive",
              shape: "rect",
            },
            payment: () => {
              return paypalCheckoutInstance.createPayment({
                flow: "checkout",
                intent: "authorize",
                amount: this.amount,
                displayName: "Braintree Testing BOCM",
                currency: currentStoreView().i18n.currencyCode,
              });
            },
            onAuthorize: (data, options) => {
              return paypalCheckoutInstance
                .tokenizePayment(data)
                .then(async (payload) => {
                  this.error = "";
                  let payment = Object.assign({}, this.$parent.payment, {
                    paymentMethodAdditional: {
                      payment_method_nonce:payload.nonce
                    }
                  })
                  this.$bus.$emit('checkout-after-paymentDetails', payment, this.$parent.$v)
                  this.$bus.$emit('checkout-do-placeOrder', {payment_method_nonce:payload.nonce})
                });
            },
            onCancel: (data) => {
              this.notifyUser({
                type: 'error',
                message: this.$t('Cancelled Payment'),
                action1: { label: this.$t('OK') }
              })
              this.$router.push('/')
            },
            onError: (err) => {
              this.notifyUser({
                type: 'error',
                message: err,
                action1: { label: this.$t('OK') }
              })
            },
          },
          "#paypalButton"
        );
        } else {
          hostedFieldInstance.on('validityChange', (event) => {
            let field = event.fields[event.emittedBy];
            if (field.isValid) {
              if(event.emittedBy == 'number') {
                this.card.number = true
              } else if(event.emittedBy == 'expirationDate') {
                this.card.expireDate = true
              } else if(event.emittedBy == 'cvv') {
                this.card.cvv = true
              }
            } else {
              if(event.emittedBy == 'number') {
                this.card.number = false
              } else if(event.emittedBy == 'expirationDate') {
                this.card.expireDate = false
              } else if(event.emittedBy == 'cvv') {
                this.card.cvv = false
              }
            }
            this.$emit('cardValidation', this.card)
          });
        }
      })
      .catch((err) => {
        this.notifyUser({
          type: 'error',
          message: err,
          action1: { label: this.$t('OK') }
        })
      });
  },
  methods: {
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    }
  }
};
</script>

<style>
form {
  width: 300px;
  position: relative;
  left: 50%;
  margin-left: -150px;
  padding: 1em;
  margin-top: 2em;
}

.card-input {
  position: relative;
  height: 2em;
  border: 1px solid #ddd;
  padding: 0 0.5em;
  background-color: white;
}
/* This is where the magic starts */

.icon-type {
  position: absolute;
  right: 5px;
  top: 2px;
  width: 40px;
  height: 28px;
  background-image: url('https://gist.githubusercontent.com/cbetta/800a425505407de9342b/raw/5ea2b7f9a2d53193ee1fce7f55b89575074f3744/cards.png');
  background-position: -1000px 0;
  background-repeat: no-repeat;
}

.icon-type-discover {
  background-position: 0 0px;
}

.icon-type-visa {
  background-position: 0 -28px;
}

.icon-type-master-card {
  background-position: 0 -56px;
}

.icon-type-maestro {
  background-position: 0 -85px;
}

.icon-type-american-express {
  background-position: 0 -114px;
}
</style>
