<template>
  <div
    class="searchpanel md:flex md:items-center relative"
    data-testid="searchPanel"
  >
    <button
      type="button"
      :aria-label="'Close'"
      class="brdr-none md:hidden right-20 top-20 bg-white absolute cursor-pointer"
      @click="closeSearchMobile"
    >
      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="15" cy="15" r="14.5" stroke="#222222" />
        <path d="M10 10L20 20" stroke="#222222" />
        <path d="M20.0005 10L10.0005 20" stroke="#222222" />
      </svg>
    </button>
    <div class="search-title">
      <div class="search-input-group flex border border-gray-500 relative">
        <i class="search-icon justify-center w-40 h-40 flex items-center left-0 top-0 absolute">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.9993 18.9997L14.1992 14.1997" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" />
            <path d="M8.7143 16.4286C12.9748 16.4286 16.4286 12.9748 16.4286 8.71431C16.4286 4.45381 12.9748 1 8.7143 1C4.45381 1 1 4.45381 1 8.71431C1 12.9748 4.45381 16.4286 8.7143 16.4286Z" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" />
          </svg>
        </i>
        <input
          ref="search"
          id="search"
          v-model="search"
          @blur="$v.search.$touch()"
          class="font-playfair search-panel-input w-full h-40 pb-0 pt-0 pl-40 pr-40 border-0 text-sm text-black placeholder-gray-600 placeholder-opacity-100"
          :placeholder="$t('Search best cabinets here')"
          type="search"
          @input="makeSearch(), openSearchBox(), closeSearchModalOnInput()"
          @keyup.enter="openSearchModal"
          :class="searchClass"
          @keyup.esc="closeSearchModal"
        >
        <div @click="closeSearchBox" v-if="isVisible" class="close-search hidden md:block right-10 top-10 bg-white absolute cursor-pointer">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" stroke="#222222" />
            <path d="M6.66602 6.66675L13.3327 13.3334" stroke="#222222" />
            <path d="M13.332 6.66675L6.66536 13.3334" stroke="#222222" />
          </svg>
        </div>
      </div>
    </div>
    <div class="absolute z-50 bg-white top-56 right-0 search-popup" v-if="isSeachBoxOpen">
      <div class="flex flex-wrap md:flex-nowrap h-full pb-20">
        <div v-if="visibleProducts.length && categories.length > 1 && !getNoResultsMessage" class="categories pt-56 relative w-full md:w-3/12 md:border-r md:border-gray-500">
          <category-panel :categories="categories" v-model="selectedCategoryIds" class="md:px-20 overflow-auto h-full" />
        </div>
        <div class="product-listing pt-56 relative w-full overflow-auto md:px-20 pb-20 md:mb-0">
          <div class="search-grid" v-if="!getNoResultsMessage">
            <h6 v-if="visibleProducts.length && categories.length > 1" class="leading-16 text-gray-600 font-regular absolute left-0 md:left-20 top-20 m-0">
              {{ 'Top Results' }}
            </h6>
            <product-tile
              v-for="product in visibleProducts"
              :key="product.id"
              :product="product"
              :show-add-to-cart="false"
              @click.native="closeSearchpanel"
            />
          </div>
          <transition name="fade">
            <div
              v-if="getNoResultsMessage"
              class="no-results text-center w-full absolute top-35 m-0 left-0"
            >
              {{ $t(getNoResultsMessage) }}
            </div>
          </transition>
          <div
            v-show="OnlineOnly"
            v-if="visibleProducts.length >= 18 && !getNoResultsMessage"
            class="buttons-set text-center flex items-center justify-center mt-20"
          >
            <button
              @click="seeMore" v-if="readMore"
              class="min-w-0 bg-transparent text-sm flex items-center"
              type="button"
            >
              {{ 'Load more' }}
              <svg class="ml-10" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 6.5H12M6 0.5V12.5" stroke="#222222" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed overlay-fixed w-full h-full left-0 z-4 hidden md:block" @click="closeSearchBox" v-if="isVisible">
      <div class="fixed overlay w-full h-full left-0 z-4 bg-black opacity-40" />
    </div>
  </div>
</template>
<script>
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'
import ProductTile from 'theme/components/core/ProductTile'
import VueOfflineMixin from 'vue-offline/mixin'
import CategoryPanel from 'theme/components/core/blocks/Category/CategoryPanel'
import { minLength } from 'vuelidate/lib/validators'
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'
import { isServer } from '@vue-storefront/core/helpers'
export default {
  components: {
    ProductTile,
    CategoryPanel
  },
  mixins: [SearchPanel, VueOfflineMixin, SearchIcon],
  validations: {
    search: {
      minLength: minLength(3)
    }
  },
  data () {
    return {
      selectedCategoryIds: [],
      isSeachBoxOpen: false,
      isVisible: false,
      searchClass: null
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || []
      if (this.selectedCategoryIds.length) {
        return productList.filter(product => product.category_ids.some(categoryId => {
          return this.selectedCategoryIds.includes(categoryId)
        }))
      }
      return productList
    },
    categories () {
      const categories = this.products
        .filter(p => p.category)
        .map(p => p.category)
        .flat()

      const distinctCategories = Array.from(
        new Set(categories.map(c => c.category_id))
      ).map(catId => categories.find(c => c.category_id === catId))

      return distinctCategories
    },
    getNoResultsMessage () {
      let msg = ''
      if (!this.$v.search.minLength) {
        msg = 'Searched term should consist of at least 3 characters.'
      } else if (this.emptyResults) {
        msg = 'No results were found.'
      }
      return msg
    }
  },
  watch: {
    categories () {
      this.selectedCategoryIds = []
    },
    isVisible (state) {
      if (window.matchMedia('(min-width: 768px)').matches) {
        if (state) {
          this.$nextTick(() => {
            this.addBodyClass(this.$refs['modal']);
          })
        } else {
          this.removeBodyClass();
        }
      }
    }
  },
  methods: {
    openSearchBox () {
      if (this.search.length > 0 && !this.isVisible) {
        this.isVisible = !this.isVisible;
        this.isSeachBoxOpen = !this.isSeachBoxOpen;
        this.searchClass = 'focus'
      }
    },
    closeSearchModalOnInput () {
      if (this.search.length < 1) {
        if (window.matchMedia('(min-width: 768px)').matches) {
          this.isVisible = false;
          this.isSeachBoxOpen = false;
        }
        this.$bus.$emit('modal-hide', 'modal-search-results');
      }
    },
    closeSearchBox () {
      this.isVisible = false;
      this.isSeachBoxOpen = false;
      this.searchClass = null;
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    },
    addBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.add('overflow-hidden');
    },
    removeBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.remove('overflow-hidden');
    },
    closeSearchMobile () {
      this.$store.commit('ui/setSearchpanel', false)
    }
  },
  mounted () {
    if (window.matchMedia('(max-width: 767px)').matches) {
      this.isVisible = true;
      this.isSeachBoxOpen = true;
      this.searchClass = 'focus'
    }
  }
}
</script>

<style lang="scss">
.search-popup {
  width: 580px;
  z-index: 99999;
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #E5E7EB;
    border: 0;
    width: 5px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #222222;
    border: 0 solid #DDDDDD;
    width: 5px;
  }
  > div {
    max-height: 580px;
    .categories {
      min-width: 185px;
      .categories__handler  {
        scrollbar-width: thin;
        scrollbar-color: #222222 #DDDDDD;
        .categories_button {
          min-height: 34px;
        }
      }
    }
  }
  .product-listing {
    scrollbar-width: thin;
    scrollbar-color: #222222 #DDDDDD;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    width: 550px;
  }
  @media (max-width: 767px){
    > div {
      width: 100%;
    }
  }
}
.searchpanel {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { cursor: pointer;  display: none;}
  input[type="search"] {-webkit-appearance: textfield;}
  input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
  input.search-panel-input[type=search]::-ms-clear,
  input.search-panel-input[type=search]::-ms-reveal,
  input.search-panel-input[type="search"]::-webkit-search-decoration,
  input.search-panel-input[type="search"]::-webkit-search-cancel-button,
  input.search-panel-input[type="search"]::-webkit-search-results-button,
  input.search-panel-input[type="search"]::-webkit-search-results-decoration {
    display: none !important;
    width: 0;
    height: 0;
  }
}
.search-title{
  input.search-panel-input{
    width: 300px;
    transition: all .3s ease-out;
    &.focus{
      width: 580px;
      @media only screen and (min-width: 768px) and (max-width: 1023px){
        width: 360px;
      }
    }
  }
}
.overlay-fixed {
  top: 105px;
}
</style>
