<template>
  <div class="pb-50 md:pb-0">
    <!-- My newsletter header -->
    <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
      <div class="w-9/12 md:w-6/12" :class="{ 'text-gray-400' : !isEdited }">
        <h3 class="m-0 mb-5 font-bold text-base md:text-md">
          {{ $t('Newsletter') }}
        </h3>
      </div>
    </div>
    <!-- My newsletter body (both modes) -->
    <div class="flex flex-wrap -mx-15">
      <base-checkbox
        class="w-full px-15 mb-25 text-gray-400"
        id="generalAgreement"
        v-model="user.isSubscribed"
        @click="edit()"
      >
        {{ 'Join Our Newsletters. Be The First To Know!' }}
      </base-checkbox>

      <div class="w-full md:w-4/12 px-15">
        <button-full @click.native="updateNewsletter">
          {{ 'Update My Preferences' }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { Newsletter } from '@vue-storefront/core/modules/newsletter/components/Newsletter'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    ButtonFull,
    BaseCheckbox
  },
  data () {
    return {
    }
  },
  methods: {
    edit () {
      this.isEdited = true
    },
    async updateNewsletter () {
      if (this.user.isSubscribed) {
        const isSubscribed = await this.$store.dispatch('newsletter/subscribe', this.email)

        if (isSubscribed) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t('You have been successfully subscribed to our newsletter!'),
            action1: { label: i18n.t('Okay') }
          })
        }
        return
      }

      const isUnsubscribed = await this.$store.dispatch('newsletter/unsubscribe', this.email)
      if (isUnsubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully unsubscribed from our newsletter!'),
          action1: { label: i18n.t('Okay') }
        })
      }
    }
  },
  mixins: [Newsletter]
}
</script>
