<template>
  <div v-if="order" class="pb-30 md:pb-0">
    <!-- My order header -->
    <div class="flex items-center flex-wrap lg:mb-25 lg:border-b lg:border-gray-500 pb-10 md:pb-20">
      <div class="w-7/12 lg:w-auto">
        <h3 class="m-0 font-bold text-base md:text-md flex items-center leading-20">
          <return-icon class="pointer" /> {{ $t('Order #{id}', { id: order.increment_id }) }}
        </h3>
      </div>
      <div class="flex ml-auto lg:ml-0 w-5/12 lg:w-auto">
        <div class="leading-30 ml-auto">
          <span class="text-center button-outline leading-15 text-sm min-w-0 py-9 px-20 ml-20 w-full bg-white border-gray-200 text-gray-200 hover:text-gray-200  hover:bg-white">
            {{ order.status | capitalize }}
          </span>
        </div>
      </div>
    </div>
    <!-- My order body -->
    <div class="mb-5 mt-5 flex flex-wrap items-center">
      <p class="order-date text-gray-200 leading-18  w-full sm:w-auto">
        <span class="text-gray-600">{{ 'Date & time :' }}</span>  {{ order.created_at | date('LLL', storeView) }}
      </p>
      <p class="ml-auto lg:relative lg:-top-70 leading-18 w-full sm:w-auto">
        <a href="#" class="underline flex items-center text-gray-400" @click.prevent="remakeOrder(singleOrderItems)">
          <svg class="mr-10" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5326 14.8915C14.1696 16.7767 11.9707 18.0006 9.48997 18.0006C5.35371 18.0006 2.00061 14.198 2.00061 10.0006C2.00061 5.80325 5.35371 2.00061 9.48997 2.00061C11.9707 2.00061 14.1696 3.2245 15.5326 5.1097C16.2518 6.1046 16.7382 7.28368 16.9103 8.56425M16.9103 8.56425L18.0006 7.18243M16.9103 8.56425L15.2772 7.87334" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          {{ 'Remake Order' }}
        </a>
      </p>
    </div>
    <div class="tablewrap overflow-hidden md:overflow-x-auto">
      <table>
        <thead class="hidden md:table-header-group">
          <tr>
            <th colspan="2" class="text-left">
              {{ $t('Product Name') }}
            </th>
            <th>
              {{ $t('SKU') }}
            </th>
            <th>
              {{ $t('Price') }}
            </th>
            <th>
              {{ $t('Qty') }}
            </th>
            <th>
              {{ $t('Subtotal') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in singleOrderItems" :key="item.item_id" class="relative item-thumbnail-row pb-10">
            <td class="item-thumbnail absolute left-0 top-10 md:relative">
              <div class="w-100 md:-m-15">
                <product-image :image="{src: itemThumbnail[item.sku]}" class="thumbnail-img" />
              </div>
            </td>
            <td class="text-left">
              <label class="td w-full">{{ item.name }}</label>
            </td>
            <td>
              {{ item.sku }}
            </td>
            <td>
              <label class="th md:hidden">{{ $t('SKU') }}</label>
              <label class="td">{{ item.price_incl_tax | price(storeView) }}</label>
            </td>
            <td>
              <label class="th md:hidden">{{ $t('SKU') }}</label>
              <label class="td">{{ item.qty_ordered }}</label>
            </td>
            <td>
              <label class="th md:hidden">{{ $t('Subtotal') }}</label>
              <label class="td">{{ item.row_total_incl_tax | price(storeView) }}</label>
            </td>
          </tr>
        </tbody>
        <tfoot class="pb-0 p-20 md:py-0 text-sm bg-gray-100 md:bg-white border md:border-0 border-gray-500">
          <tr class="md:border-t md:border-gray-500 flex md:table-row">
            <td colspan="5" class="text-left md:text-right md:font-normal block md:table-cell">
              {{ $t('Subtotal') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell font-bold">
              {{ order.subtotal | price(storeView) }}
            </td>
          </tr>
          <tr class="flex md:table-row">
            <td colspan="5" class="text-left md:text-right md:font-normal block md:table-cell">
              {{ $t('Shipping') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell font-bold">
              {{ order.shipping_amount | price(storeView) }}
            </td>
          </tr>
          <tr class="flex md:table-row">
            <td colspan="5" class="text-left md:text-right md:font-normal block md:table-cell">
              {{ $t('Tax') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell font-bold">
              {{ order.tax_amount + order.discount_tax_compensation_amount | price(storeView) }}
            </td>
          </tr>
          <tr class="flex md:table-row" v-if="order.discount_amount">
            <td colspan="5" class="text-left md:text-right  md:font-normal block md:table-cell">
              {{ $t('Discount') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell font-bold">
              {{ order.discount_amount | price(storeView) }}
            </td>
          </tr>
          <tr class="flex md:table-row">
            <td colspan="5" class="text-left md:text-right  md:font-normal block md:table-cell">
              {{ $t('Grand Total') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell font-bold">
              {{ order.grand_total | price(storeView) }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="text-base mt-30">
      <h4 class="mb-15 md:mb-30 mt-0 pb-10 md:pb-0 text-16 md:text-md font-medium border-b border-gray-500 md:border-0">
        {{ $t('Order Informations') }}
      </h4>
      <div class="flex flex-wrap -mx-15 shipping-address">
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-15 text-base md:text-md mb-20 md:mb-15 lg:mb-0" v-if="shippingAddress">
          <h5 class="m-0 mb-10 md:mb-20 font-medium text-16 md:text-base">
            {{ $t('Shipping Address') }}
          </h5>
          <address class="not-italic">
            <p>
              {{ shippingAddress.firstname }} {{ shippingAddress.lastname }}
            </p>
            <p>
              {{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }},
              {{ shippingAddress.postcode }} {{ shippingAddress.city }} {{ shippingAddress.country }},
              {{ shippingAddress.region }}, {{ shippingAddress.country_id }}
            </p>
            <p v-if="shippingAddress.telephone" class="font-bold">
              {{ shippingAddress.telephone }}
            </p>
          </address>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-15 text-base md:text-md mb-20 md:mb-15 lg:mb-0">
          <h5 class="m-0 mb-10 md:mb-20 font-medium text-16 md:text-base">
            {{ $t('Payment Method') }}
          </h5>
          <p class="breakwords">
            {{ paymentMethod }}
          </p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-15 text-base md:text-md mb-20 md:mb-15 lg:mb-0">
          <h5 class="m-0 mb-10 md:mb-20 font-medium text-16 md:text-base">
            {{ $t('Order Tracking Number') }}
          </h5>
          <address class="not-italic">
            <p class="font-bold">
              14574345567678
            </p>
            <p>you Can track your Order By clicking tracking number</p>
            <h5 class="m-0 mb-10 md:mb-20 mt-20 md:mt-10 font-medium text-16 md:text-base" v-if="billingAddress.firstname">
              {{ $t('Billing Address') }}
            </h5>
            <p>
              {{ billingAddress.firstname }} {{ billingAddress.lastname }}
            </p>
            <p>
              {{ billingAddress.street[0] }} {{ billingAddress.street[1] }},
              {{ billingAddress.postcode }} {{ billingAddress.city }} {{ billingAddress.country }},
              {{ billingAddress.region }}, {{ billingAddress.country_id }}
            </p>
            <p class="font-bold" v-if="billingAddress.telephone ">
              {{ billingAddress.telephone }}
            </p>
          </address>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-15 text-base md:text-md mb-20 md:mb-15 lg:mb-0" v-if="order.shipping_description">
          <h5 class="m-0 mb-10 md:mb-20 font-medium text-16 md:text-base">
            {{ $t('Shipping Method') }}
          </h5>
          <p>{{ order.shipping_description }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder'
import ReturnIcon from 'theme/components/core/blocks/Header/ReturnIcon'
import ProductImage from 'theme/components/core/ProductImage'
import { getThumbnailPath, productThumbnailPath } from '@vue-storefront/core/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapActions } from 'vuex'

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data () {
    return {
      itemThumbnail: []
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    })
  },
  mounted () {
    this.singleOrderItems.forEach(async item => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({ options: { sku: item.sku } })
        const thumbnail = productThumbnailPath(product)
        Vue.set(this.itemThumbnail, item.sku, getThumbnailPath(thumbnail, 280, 280))
      }
    })
  },
  metaInfo () {
    return {
      title: this.$i18n.t('My Order'),
      meta: [
        { vmid: 'keywords', name: 'keywords', content: this.$i18n.t('Magento, Varien, E-commerce') },
        { vmid: 'title', name: 'title', content: this.$i18n.t('My Order') }
      ]
    }
  }
}
</script>
