<template>
  <div class="my-recently-product pb-50 md:pb-0">
    <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
      <div class="w-9/12 md:w-6/12">
        <h3 class="m-0 mb-5 font-bold text-base md:text-md">
          {{ ('My Social Accounts') }}
        </h3>
      </div>
    </div>
    <div class="mysocialaccount">
      <h4 class="mt-30 mb-20 leading-21 font-medium text-base text-gray-200">
        {{ 'Link New Account' }}
      </h4>
      <div class="flex">
        <div class="mr-20 my-social-icon rounded-3xl cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#4267B2" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.999 15.4915L22.549 15.4924C21.4119 15.4924 21.1915 16.0183 21.1915 16.7899V18.4924H23.9037L23.5504 21.1596H21.1915V28.0015H18.3637V21.1596H15.999V18.4924H18.3637V16.5265C18.3637 14.2437 19.7954 13.0015 21.8857 13.0015C22.887 13.0015 23.7477 13.0737 23.999 13.1065V15.4915Z" fill="white" />
          </svg>
        </div>
        <div class="mr-20 my-social-icon rounded-3xl cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#1DA1F2" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.362 17.2392C26.368 17.3802 26.372 17.5212 26.372 17.6641C26.372 22.0001 23.07 27.001 17.032 27.001C15.178 27.001 13.453 26.4581 12 25.5273C12.257 25.5573 12.518 25.5723 12.783 25.5723C14.321 25.5723 15.736 25.0484 16.86 24.1676C15.423 24.1416 14.211 23.1929 13.793 21.8892C13.994 21.9271 14.199 21.9471 14.411 21.9471C14.71 21.9471 15 21.9072 15.276 21.8322C13.774 21.5312 12.643 20.2045 12.643 18.6149C12.643 18.6009 12.643 18.5869 12.643 18.5729C13.085 18.8189 13.592 18.9668 14.13 18.9838C13.249 18.395 12.669 17.3902 12.669 16.2525C12.669 15.6506 12.831 15.0867 13.114 14.6018C14.733 16.5874 17.152 17.8941 19.88 18.031C19.824 17.7911 19.795 17.5402 19.795 17.2832C19.795 15.4706 21.265 14.001 23.077 14.001C24.022 14.001 24.875 14.3999 25.473 15.0377C26.221 14.8908 26.924 14.6178 27.558 14.2419C27.313 15.0077 26.792 15.6506 26.115 16.0575C26.779 15.9775 27.411 15.8016 28 15.5406C27.56 16.1985 27.003 16.7763 26.362 17.2392Z" fill="white" />
          </svg>
        </div>
        <div class="my-social-icon rounded-3xl cursor-pointer">
          <img src="/assets/amazon-icon.svg" alt="amazon" width="40" height="40">
        </div>
      </div>
      <h4 class="mt-30 pt-30 mb-20 leading-21 font-medium text-base text-gray-200 border-t border-gray-500">
        {{ 'Link New Account' }}
      </h4>
      <div class="">
        <div class="linked-acoount rounded flex justify-between p-10">
          <span class="linked-icon flex items-center leading-19">
            <img class="rounded-3xl mr-10" src="/assets/google-icon.svg" alt="amazon" width="40" height="40">
            {{ 'John Doe' }}
          </span>
          <span class="text-sm flex items-center mx-10 cursor-pointer">
            <svg class="mr-10" width="13" height="17" viewBox="0 0 13 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.27734 5.30615H1.77734V5.80615V14.2016C1.77734 15.2507 2.62782 16.1012 3.67695 16.1012H9.32496C10.3741 16.1012 11.2246 15.2507 11.2246 14.2016V5.80615V5.30615H10.7246H2.27734Z" stroke="#222222" />
              <path d="M5 8.00073V13.0007" stroke="#222222" stroke-linecap="round" />
              <path d="M8 8.00073V13.0007" stroke="#222222" stroke-linecap="round" />
              <rect x="1" y="3.20117" width="11" height="2.2" rx="1.1" stroke="#222222" />
              <path d="M3.19922 2.10073C3.19922 1.49322 3.69171 1.00073 4.29922 1.00073H8.69922C9.30673 1.00073 9.79922 1.49322 9.79922 2.10073V3.20073H3.19922V2.10073Z" stroke="#222222" />
            </svg>
            {{ 'Remove' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  metaInfo () {
    return {
      title: 'My Social Accounts',
      meta: [
        { vmid: 'keywords', name: 'keywords', content: 'Magento, Varien, E-commerce' },
        { vmid: 'title', name: 'title', content: 'My Social Accounts' }
      ]
    }
  }
}
</script>
<style lang="scss">
.linked-acoount {
  border: 1px solid #AAAAAA;
}
.linked-icon img, .my-social-icon {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
</style>
