<template>
  <div class="my-recently-product pb-50 md:pb-0">
    <div class="flex flex-wrap mb-25 border-b border-gray-500 pb-10 md:pb-15">
      <div class="w-9/12 md:w-6/12">
        <h3 class="m-0 mb-5 font-bold text-base md:text-md">
          {{ ('My Wishlist') }}
        </h3>
      </div>
    </div>
    <div class="mywishlist">
      <h4 v-if="!productsInWishlist.length" class="m-0 text-base pb-10">
        {{ $t('Your wishlist is empty.') }}
      </h4>
      <div v-if="!productsInWishlist.length">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')" @click.native="closeWishlist" class="text-black font-medium">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
      <div class="products">
        <product v-for="wishlistProduct in productsInWishlist" :key="wishlistProduct.id" :product="wishlistProduct" :icons="false" :is-wishlist-page="true" />
      </div>
    </div>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('OK'),
          action: () => {
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    }
  },
  mixins: [Wishlist]
}
</script>
