<template>
  <no-ssr>
    <transition :name="direction === 'right' ? 'slide-left' : direction === 'left' ? 'slide-right' : null ">
      <div
        class="max-w-full w-full  fixed scrolling-touch z-10 text-black top-0 h-full bg-white overflow-x-hidden overflow-y-auto"
        :class="direction === 'left' ? 'left-sidebar left-0' : direction === 'right' ? 'right-sidebar right-0' : null "
        data-testid="sidebar"
        ref="sidebar"
        v-show="isOpen"
      >
        <component :is="component" @close="$emit('close')" @reload="getComponent" />
      </div>
    </transition>
  </no-ssr>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import LoadingSpinner from 'theme/components/theme/blocks/AsyncSidebar/LoadingSpinner.vue'
import LoadingError from 'theme/components/theme/blocks/AsyncSidebar/LoadingError.vue'
import { isServer } from '@vue-storefront/core/helpers'
// import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'

export default {
  props: {
    asyncComponent: {
      type: Function,
      required: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    /** "right" or "left"  */
    direction: {
      type: String,
      default: 'right'
    }
  },
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      component: null
    }
  },
  watch: {
    isOpen (state) {
      if (state) {
        if (!this.component) {
          this.getComponent()
        }
        this.$nextTick(() => {
          this.addBodyClass();
        })
      } else {
        this.removeBodyClass();
      }
    }
  },
  methods: {
    getComponent () {
      this.component = () => ({
        component: this.asyncComponent(),
        loading: LoadingSpinner,
        error: LoadingError,
        timeout: 3000
      })
    },
    addBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.add('overflow-hidden');
    },
    removeBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.remove('overflow-hidden');
    }
  }
}
</script>

<style lang="scss" scoped>
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform .25s;
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(100%);
}

.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(-100%);
}
.left-sidebar{
  width: 350px;
  @media (max-width: 767px) {
    width:100%;
  }
}
.right-sidebar{
  width: 500px;
  @media (max-width: 767px) {
    width:100%;
  }
}
</style>
