<template>
  <section class="questions-section pb-20">
    <form action="#" @submit.prevent="sendQuestionAction" class="questions-form m-auto">
      <base-input
        class="mb-16 md:mb-20"
        type="text"
        name="name"
        v-model="formData.name"
        @blur="$v.formData.name.$touch()"
        :placeholder="'Name*'"
        :label="false"
        :validations="[
          {
            condition: !$v.formData.name.required && $v.formData.name.$error,
            text: 'This is a required field.'
          },
          {
            condition: !$v.formData.name.minLength,
            text: 'Name must have at least 2 letters.'
          }
        ]"
      />
      <base-input
        type="email"
        name="email"
        class="mb-16 md:mb-20"
        v-model="formData.email"
        :label="false"
        @blur="$v.formData.email.$touch()"
        :placeholder="'Email Address*'"
        :validations="[
          {
            condition: !$v.formData.email.required && $v.formData.email.$error,
            text: 'This is a required field.'
          },
          {
            condition: !$v.formData.email.email && $v.formData.email.$error,
            text: 'Please provide valid e-mail address.'
          }
        ]"
      />
      <base-textarea
        class="mb-20 md:mb-30"
        type="text"
        name="title"
        v-model="formData.title"
        :label="false"
        @blur="$v.formData.title.$touch()"
        :placeholder="'Type your question here...*'"
        :validations="[
          {
            condition: $v.formData.title.$error && !$v.formData.title.required,
            text: 'This is a required field.'
          }
        ]"
      />
      <button-full type="submit" class="leading-26 font-medium text">
        {{ 'Send the Question' }}
      </button-full>
    </form>
  </section>
</template>

<script>
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'ProductQuestionForm',
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      email: {
        required,
        email
      },
      title: {
        required
      }
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    BaseInput,
    BaseTextarea,
    ButtonFull
  },
  data () {
    return {
      formData: {
        name: '',
        email: '',
        title: ''
      }
    }
  },
  methods: {
    sendQuestionAction () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        return false
      }
    },
    submit () {
      this.$bus.$emit('notification-progress-start', i18n.t('Please a wait...'))
      this.$store.dispatch('productQuestion/add', {
        'question': {
          'name': this.formData.name,
          'email': this.formData.email,
          'title': this.formData.title,
          'product_ids': this.product.id
        }
      }).then(res => {
        this.$bus.$emit('notification-progress-stop')
        if (res.code === 200) {
          this.$bus.$emit('clear-product-question-form')
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: this.$t('Thanks for sending us with your questions. We\'ll respond to you very soon.'),
            action1: { label: this.$t('OK') }
          })
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t('Something went wrong. Try again in a few seconds.'),
            action1: { label: i18n.t('OK') }
          })
        }
      })
    },
    clearProductQuestionForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.title = ''
      this.$v.$reset()
    }
  },
  mounted () {
    this.$bus.$on('clear-product-question-form', this.clearProductQuestionForm)
  },
  destroyed () {
    this.$bus.$off('clear-product-question-form', this.clearProductQuestionForm)
  }
}
</script>
<style lang="scss">
.questions-form {
  max-width: 520px;
}
</style>
