<template>
  <div>
    <header class="flex items-center mb-20 md:mb-0 p-15 px-20 md:p-40 md:pb-0 justify-between">
      <h2 class="text-lg sm:text-lg text-black font-medium leading-normal m-0">
        {{ 'Create an Account' }}
      </h2>
      <i
        slot="close"
        class="modal-close cursor-pointer"
        @click="close"
      >
        <svg width="40" height="40" class="w-30 h-30 md:w-40 md:h-40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="19.5" stroke="#222222" />
          <path d="M13.3333 13.3334L26.6667 26.6667" stroke="#222222" />
          <path d="M26.6673 13.3334L13.334 26.6667" stroke="#222222" />
        </svg>
      </i>
    </header>
    <div class="p-20 md:p-40 pt-0">
      <form @submit.prevent="register" novalidate>
        <base-input
          class="mb-20"
          type="email"
          :label="false"
          name="email"
          autocomplete="email"
          v-model="email"
          @blur="$v.email.$touch()"
          :placeholder="'Email Address'"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <div class="flex flex-wrap -mx-10">
          <base-input
            class="w-1/2 px-10 mb-20"
            :label="false"
            type="text"
            name="first-name"
            autocomplete="given-name"
            v-model="firstName"
            @blur="$v.firstName.$touch()"
            :placeholder="'First Name'"
            :validations="[
              {
                condition: !$v.firstName.required && $v.firstName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              },
              {
                condition: !$v.firstName.alpha && $v.firstName.$error,
                text: $t('Accepts only alphabet characters.')
              }
            ]"
          />
          <base-input
            class="w-1/2 px-10 mb-20"
            type="text"
            name="last-name"
            :label="false"
            autocomplete="last-name"
            v-model="lastName"
            @blur="$v.lastName.$touch()"
            :placeholder="'Last Name'"
            :validations="[
              {
                condition: !$v.lastName.required && $v.lastName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.lastName.alpha && $v.lastName.$error,
                text: $t('Accepts only alphabet characters.')
              }
            ]"
          />
        </div>
        <base-input
          class="mb-20"
          :label="false"
          type="password"
          name="password"
          ref="password"
          autocomplete="new-password"
          v-model="password"
          @blur="$v.password.$touch()"
          :placeholder="$t('Password')"
          :validations="[
            {
              condition: !$v.password.required && $v.password.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.password.minLength && $v.password.$error,
              text: $t('Password must have at least 8 letters.')
            }
          ]"
        />
        <base-input
          class="mb-20"
          :label="false"
          type="password"
          name="password-confirm"
          autocomplete="new-password"
          v-model="rPassword"
          @blur="$v.rPassword.$touch()"
          :placeholder="'Repeat Password'"
          :validations="[
            {
              condition: !$v.rPassword.required && $v.rPassword.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.rPassword.sameAsPassword && $v.rPassword.$error,
              text: $t('Passwords must be identical.')
            }
          ]"
        />
        <div class="flex items-center mb-30">
          <base-checkbox
            class="text-gray-200 h-18"
            id="terms"
            v-model="conditions"
            @blur="$v.conditions.$reset()"
            @change="$v.conditions.$touch()"
            :validations="[{
              condition: !$v.conditions.sameAs && $v.conditions.$error,
              text: $t('You must accept the terms and conditions.')
            }]"
          />
          <router-link :to="localizedRoute('/terms-of-use')" :title="$t('Home Page')" class="text-left">
            {{ 'Accept Terms & Conditions' }} *
          </router-link>
        </div>
        <button-full :disabled="$v.$invalid" class="mb-20" type="submit">
          {{ 'Create an Account' }}
        </button-full>
        <div class="text-center text-gray-600 text-base">
          <span>
            {{ 'Already have an account?' }}
            <a href="#" class="text-orange-dark underline hover:text-black font-medium" @click.prevent="switchElem">
              {{ 'Login' }}
            </a>
          </span>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Register from '@vue-storefront/core/compatibility/components/blocks/Auth/Register'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import { required, email, minLength, sameAs, alpha } from 'vuelidate/lib/validators'

export default {
  validations: {
    email: {
      required,
      email
    },
    firstName: {
      minLength: minLength(2),
      required,
      alpha
    },
    lastName: {
      required,
      alpha
    },
    password: {
      minLength: minLength(8),
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    conditions: {
      sameAs: sameAs(() => true)
    }
  },
  mixins: [Register],
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  },
  methods: {
    register () {
      if (this.$v.$invalid) {
        this.$v.$touch()
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors'),
          action1: { label: this.$t('OK') }
        })
        return
      }
      this.callRegister()
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are logged in!'),
        action1: { label: this.$t('OK') }
      })
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>
